[2015-12-23 02:42] zorrobyte opened #1 "Create own plugins"
Greetings!

I'm a sysadmin who uses Docker often and I would like to create my own Rock-ons or at least run my own containers. Without hacking the core code, is there/will there be configs to set our own docker repos or use the Docker Hub for images?

[2015-12-23 15:45] phillxnet commented on #1
Hello @zorrobyte I've just addressed a very similar question on the forum so I hope you don't mind if I link to that as I hope it has some relevant information.
http://forum.rockstor.com/t/where-to-start-dev-on-new-rockstor-rock-ons-i-do-see-that-docker-is-what-you-are-using-to-package-and-manage/828/2
I know the docker hub images element is an up-voted feature request over at:- http://forum.rocks

[2015-12-23 16:12] zorrobyte commented on #1
Howdy! Thank you for taking the time to respond! I'll read through the forum post regarding this.

I did find the documentation on setting up a dev environment with Rockstor and PRs, the current implementation of rockon_json.py seems simple enough. I may have a crack at attempting to add Sickrage & Couchpotato images. If all tests well, I'd be happy to submit a PR, even if a rework is on the way -

[2016-01-26 10:01] phillxnet commented on #1
@zorrobyte Things have changed a tad now and wanted to note here for you that there is now a pretty good README.md https://github.com/rockstor/rockon-registry/blob/master/README.md in this very repo on contributing / making your own rock-ons as recent improvements mean that it's just dropping a json file per Rock-on in your own instance of Rockstor and it shows up in the UI as an installable Rock-

[2016-01-26 11:03] phillxnet opened #3 "improve transmission share name example"
The transmission suggested share name is transmission-rockon where as this share is labelled in the GUI at selection time as Data Store which is what it is predominantly, that and the transmission config but this, presumably for ease of config, is not separated out.
I suggest that we change this to transmission-data to avoid the confustion that it stors the rock-on itself ie akin to:-
plex-data
bt

[2016-01-30 01:18] #3 closed

[2016-02-09 11:05] fvollmer opened #7 "No license specified"
I think adding license informations to the `rockon-registry` repository would be usefull. [This thread](http://forum.rockstor.com/t/next-phase-of-rock-on-framework-improvements/417) suggests the GNU AGPL V3.

[2016-02-16 21:10] HTPC-Schrauber opened #10 "Rockstor hangs after creating /opt/rockstor/rockons-metastore"
Hi,

I was looking to add my own rockon.

But when I create /opt/rockstor/rockons-metastore directory my box hangs on next reboot. The boot process does never finish. There are no information on screen.

It does not matter, if the created directory is empty or if there is a json in it.

I tried this with last stable (3.8-11) and also with testing updates. Both with the same result.

Regards

[2016-02-18 20:59] HTPC-Schrauber commented on #10
OK, reinstalled all.
This time I did it step by step:
- installation
- reboot
- create rockons-metastore directoy
- reboot
- create share for rockons
- reboot
- configure and activate rockon service
- reboot
- refreshed rockons

Now it seems to work without hanging at boot.

[2016-03-02 20:38] HTPC-Schrauber opened #12 "Error while pressing Update button on rockons page"
Hi,

I have installed an running the plex rockon.
After, ich have created the /opt/rockstor/rockons-metastor and put the crashplan json in it.
Now, when I press Update on the rockons page, I geht the following error message:

`
Error!

Errors occurred while processing updates for following Rock-ons. Plex: Cannot add/remove volume definitions of the container(plex) as it belongs to an installed Roc

[2016-03-10 23:43] peterdenhaan opened #15 "BTSync Docker image non-existent"
I just unsuccessfully tried to install the BTSync rock-on. Repeatedly.

In `supervisord_ztask-daemon_stderr.log` I found this:
[code]
And so on. The `btsync` image can't be located on the Docker hub. Indeed, on [aostanin's repository](https://hub.docker.com/search/?isAutomated=0&isOfficial=0&page=1&pullCount=0&q=aostanin&starCount=0) there is no longer a `btsync` image. Has he pulled it? If so, we

[2016-03-16 08:40] peterdenhaan commented on #15
I noticed two pull request patching in the `crewjam/btsync` image. I could not get it to work, at least not as a drop-in for `aostanin/btsync`: it does not appear to pick up the container's volumes, but rather expects it to be spoonfed a `VOLUME_NAME` environment variable. I seriously doubt whether it'd support adding more volumes. I can't find documentation for it on the hub or the crewjam websit

[2016-03-16 09:46] peterdenhaan commented on #15
Well, that turned out to be a bit of a no-brainer after all. I did not realise that there is in fact [an official `bittorrent/sync` image](https://hub.docker.com/r/bittorrent/sync/) as of [last September](https://blog.getsync.com/2015/09/16/official-bittorrent-sync-docker-recipe/). It works, and looks like the obvious one to use.

[2016-03-16 12:42] phillxnet commented on #15
@peterdenhaan Thanks for your efforts on this and your offer to help as a docker image maintainer. I agree that official images are definitely the way to go for sure but as you say they aren't always available. This is one for @schakrava I'm afraid as my docker knowledge / experience is currently a bit weak.

I see @henfri has a pr which has switched to crewjam/btsync on the basis of most download

[2016-03-16 15:13] schakrava commented on #15
Hello @peterdenhaan , you are on the right track. I've been in communication with Bittorrent company to get the official image. The latest is that they want us to wait until 2.3.4 is released, which apparently is coming very soon. But in the meantime, if you want to open a pull request with the current version(2.3.2) of the official image, I'd be thrilled. It will give everyone an opportunity to t

[2016-03-16 15:44] henfri commented on #15
@phillxnet , @schakrava
There is a open PR already with the official Image from me:
https://github.com/rockstor/rockon-registry/pull/14

I don't know how to test it though, as there is then a conflict with the existing rock on.

[2016-03-16 16:12] schakrava commented on #15
I missed it because it has other Rock-ons also with it. May I request you to open a new pull request just for BTSync? In general, it's a good practice to separate multiple Rock-ons into their own pull requests. I'll test it and let you know about conflicts.

[2016-03-16 16:27] henfri commented on #15
Hello Suman,

I don't know how to separate this into several pull requests&unfortunately can't work on this this month.
I'll promise to improve for the future.

Nevertheless, https://github.com/rockstor/rockstor-core/issues/1205 is relevant, as I think it would be useful if it would be easy to test or modify also a stock-Rock-On.

Greetings,
Hendrik

[2016-03-16 17:39] schakrava commented on #15
No problem. The way to do would be to open a new pull request per Rock-on. We can then ignore/close this pull request.

[2016-03-16 17:45] henfri commented on #15
But I can not create a pull-request for a file only.
Thus, I would have to re clone the rock-on registry and then add one rock-on and then create a PR, add the next, create a PR, .. right?

[2016-03-16 20:43] jybleau commented on #15
@henfri
not sure if I can help...

I think you can just push an updated version of the btsync file in your [patch-1](https://github.com/henfri/rockon-registry/tree/patch-1) branch and then create a new pull request from that branch?

Is that possible?

[2016-03-23 05:58] IamDH4 commented on #12
I know this is old, but might help someone out. The documentation on the official website is wrong. Use the README.md found here on github. The correct path is `/opt/rockstor/rockons-metastore`.

[2016-03-23 15:01] phillxnet opened #20 "couchpotato and sonar web links broken"
When clicking on the couchpotato 'name' link in the available Rock-ons page there is no external url but a relative one to the installed system, ie on a system named rockcube.lan we get:
[code]
The same issue exists with the sonar rock-on:
[code]

[2016-03-23 15:26] phillxnet commented on #12
@IamDH4 Thanks for pointing our the path error in the docs; my fault I'm afraid. I have now submitted a pull request to fix this.

[2016-03-28 17:12] phillxnet commented on #15
@peterdenhaan and @henfri Just linking this issue to a recent forum thread so we can tie the two together and update the forum on development with this one.
https://forum.rockstor.com/t/btsync-install-problem/1280

[2016-03-31 17:55] jybleau commented on #15
Seems to be working fine now.
Thank you @schakrava for merging @henfri 's [PR 14](https://github.com/rockstor/rockon-registry/pull/14)

[2016-03-31 18:53] tronder88 commented on #20
Think issue can be closed now. I have informed Suman about the issue and he has corrected them.

[2016-03-31 19:01] phillxnet commented on #20
@tronder88 Thanks for the heads up.
Closing as fixed by #22 and https://github.com/rockstor/rockon-registry/commit/09f36ee530a1005129cbb7b02412ddde7e85d9a6

[2016-03-31 19:01] #20 closed

[2016-04-01 16:14] tronder88 opened #26 "Rockstor-metastore jsons not loading"
I will continue to create/update JSONS, but I have trouble testing them due to some error where JSONS are not loaded into Rock-ons menu.
Please have a look

Also on the forum
https://forum.rockstor.com/t/rockons-metastore-jsons-missing/1298

[2016-04-02 10:47] phillxnet opened #29 "symform entry missing in root.json"
The symform.json Rock-on is in rockon-registry but there is no accompanying entry for the same in root.json. Adding under this issue to restore consistency.

[2016-04-03 00:28] #29 closed

[2016-04-03 12:30] phillxnet opened #31 "Make Rock-on links consistent"
When clicking on the names of Rock-ons I think it should link to the upstream project, not the docker maintainers page. This way users will get to see what they are to install not the details of the packager / docker container.
However it would also be nice to acknowledge the origin of the docker container so I propose to normalize this info by having the subtitle of each Rock-on name via a "by" e

[2016-04-13 08:13] peterdenhaan commented on #15
It's working. Thanks!

[2016-04-13 08:13] #15 closed

[2016-04-13 17:13] tronder88 commented on #26
Closed with #1216

[2016-04-13 17:13] #26 closed

[2016-06-19 10:38] phillxnet opened #40 "upstream syncthing discovery port update"
Thanks to @fago for bringing to light the recent change in discovery port for upstream syncthing as per version v0.12 onwards from 21025 to 21027.
https://docs.syncthing.net/users/firewall.html#local-firewall
and
https://github.com/syncthing/syncthing/issues/2685#issuecomment-170656980

@fago has an outstanding pull request on the docker image that Rockstor's Syncthing Rock-on uses (istepanov/sync

[2016-06-26 10:53] phillxnet opened #43 "Provide a Nextcloud rock-on"
There doesn't yet appear to be an official one:
https://github.com/nextcloud/server/issues/145
But we could use greyltc's
https://github.com/greyltc/docker-nextcloud
which is tagged (defaults to latest = latest stable release):
https://help.nextcloud.com/t/docker-image-available/351/19
Note that config, apps, data, sslcert volume maping setting could be taken from: @nrgeen 's suggestion in the fol

[2016-06-26 10:55] phillxnet commented on #43
Maybe it would be best to model this as closely as possible on our existing owncloud rock-on so that any transition from one to the other can be as smooth as possible.

[2016-06-28 18:58] zorrobyte opened #44 "Create a Zoneminder plugin"
After purchasing several IP cameras and running Synology's Surveillance Add-on, I'd like to bring some sort of IP Camera DVR to Rockstor. Zoneminder is a free and open source solution for this. I'll see what I can write up, pending a successful Rockstor install.

[2016-06-29 10:36] phillxnet commented on #44
@zorrobyte This would be great, but last I looked although there was an official zoneminder docker image it wasn't fully tested. So at least back then it was early days. Thanks for you efforts on this one.
Linking to a prior mention / request (by me actually) and seconded by another entry in the forum:
https://forum.rockstor.com/t/rock-on-requests/41/50

And linking to the official docker hub imag

[2016-06-29 10:41] phillxnet commented on #44
Linking to another forum post mentioning zoneminder as a request:
https://forum.rockstor.com/t/new-user-migrating-from-freenas/1583

[2016-07-21 15:56] magicalyak commented on #44
Does this still need to be done? I can try to take a crack at it?

[2016-07-21 17:05] phillxnet commented on #44
@magicalyak Not as far as I'm aware. @zorrobyte showed interest earlier on but I haven't seen any commits against the issue. Thanks for stepping up. I did look the other day on docker hub and there does appear to be a good few images, I think it would be best if we could use the official one as I indicated earlier though. If it works that is. If you make any progress do please note it here in case

[2016-07-21 17:07] magicalyak commented on #44
Let me see what I can do, this shouldn't be too difficult and I do feel a lot more confident after getting pocketmine to work (it had a LOT of quirks and no one else had it working on the new API).

[2016-07-21 19:21] magicalyak commented on #44
It's pending a pull request
[https://github.com/rockstor/rockon-registry/pull/50](url)

[2016-07-21 19:44] magicalyak commented on #44
The official zoneminder isn't a good fit, I adapted a VERY popular one that is used on unraid to work on rockstor.  One big caveat is that it runs with --privileged flag on because it needs to set the shm to 4096M.  If we can use a new version of docker, we can easily pass a runtime flag for this without using privileged.  privileged also allows any cameras physically attached to the system.

Main

[2016-07-21 19:58] magicalyak commented on #44
All config and data should be in the /config
[https://github.com/aptalca/docker-zoneminder/blob/v1.29/README.md](url)

Ok so no sense making a new directory, it would have to be mounted inside the root anyway (due to zoneminder's workings).

Inside my /config I have 3 directories (data,mysql,perl5)
inside data i have (events, images, temp)

so it's an all in one.  I know splitting it is the norm b

[2016-07-21 20:39] magicalyak commented on #44
@phillxnet this version lets you use mp4, it's in the more_info and also in the developer link on the README.  👍

[2016-08-03 12:12] magicalyak opened #54 "Create SpiderOak Rockon"
https://forum.rockstor.com/t/spideroak-rockon/1136

I can likely do this but wanted it tracked here.  SpiderOak is used to sync and backup files and can run in headless mode, making it ideal for use on RockStor.  I know a lot of people use it at work so this is just a request for it to be added.

[2016-08-03 12:35] phillxnet commented on #54
@magicalyak Good idea.

[2016-08-04 17:58] #40 closed

[2016-08-04 19:38] phillxnet commented on #44
@zorrobyte as @magicalyak has now submitted and had accepted a Zoneminder Rock-on I hope you are now OK with this issue being closed, don't be surprised if @schakrava closes this by way of cleaning up but you are also able to close it given you opened it, you can always re-open if you thing it's in error or if @magicalyak json doesn't address a specific need you had.
Thanks.

[2016-08-10 17:56] magicalyak commented on #54
This guy has a github but I don't like the dockerfile, it's too inefficient in my mind so I'll likely rewrite.  Just posting here as a notepad
https://github.com/neochrome/docker-spideroak

[2016-08-10 20:20] magicalyak commented on #44
Zoneminder is now live and I just noticed 1.30 is out!!! I'll update it accordingly, I don't think there is a way to automate the updates just yet but perhaps 1.30 will let me.  In any case 1.29 works great and has the new encoding features.

[2016-08-11 18:06] phillxnet commented on #44
@magicalyak Maybe this update could be done under a different issue to track particulars there. By the way I've done a docs pr for the ZoneMinder Rockon install as thought it worth having it's own.
https://github.com/rockstor/rockstor-doc/pull/154
I'll keep an eye on your comments re the 1.30 version and try and update the doc accordingly if need be.

[2016-08-12 14:34] zorrobyte commented on #44
No worries @phillxnet - I've been tied up with work. I am very proud of the Rockstor community, you all rock!

[2016-08-12 14:41] phillxnet commented on #44
@zorrobyte Thanks. Feel free to close this issue at your leisure as I suspect it will be better to start a fresh issue for any pending updates or the like.
Cheers.

[2016-08-12 14:48] #44 closed

[2016-08-12 15:30] phillxnet commented on #44
Fixed by @magicalyak in pr #50
Thanks everyone.

[2016-09-07 06:38] daniel-illi commented on #43
This one is on the way to become the official nextcloud docker image:
https://github.com/nextcloud/docker
https://hub.docker.com/r/indiehosters/nextcloud/

See comment https://help.nextcloud.com/t/docker-image-available/351/50 and following

[2016-10-14 16:47] StephenBrown2 opened #56 "Symform is dead - remove symform Rockon?"
From http://symform.com/:

Not sure what Symform was, but apparently it is no more.

[2016-12-13 11:53] phillxnet opened #64 "improve zoneminder volume labeling"
When installing zoneminder rock-on the user is asked to provide "Config Storage" but the tooltip more accurately portrays this as data and config storage. Would be nicer to have:
"Config Storage"
label changed to
"Data and Config Storage"
Minor but worth doing for first time interpretation.

[2016-12-25 01:34] alazare619 opened #69 "Watcher Rock-on"
An alternative for couchpotato exists called watcher. there is already a docker image.

https://hub.docker.com/r/williambroown/watcherdocker/

[2017-01-18 13:19] daniel-illi commented on #43
Since my last comment an official docker image has appeared: https://hub.docker.com/_/nextcloud/

[2017-01-18 13:42] phillxnet commented on #43
@daniel-illi That's great news, we might want to keep an eye on the docker version compatibility though, from your supplied link we have:

"Supported Docker versions
This image is officially supported on Docker version 1.12.6.

Support for older versions (down to 1.6) is provided on a best-effort basis."

Currently we have:
[code]

[2017-01-18 19:10] renatoornelas opened #71 "Container command and argument options"
Hi,

I'm building a minio (http://minio.io) rockon, but the minio image requires a command and a argument in the docker run invocation (server /export).

But I didn't see a place to put this info on rockon json file.

BTW, I fixed by editing the container config.json and adjusting the Arg and Cmd parameters. After restarting the rockon service, everything is running fine.

[2017-01-19 16:27] #69 closed

[2017-01-19 16:31] alazare619 opened #72 "Created a Rockon for Watcher a Usenet Addon"
I'm not the most versed in git but I did create a rockon for watcher a competitor to couchpotato. Its under active development and seems alot more lightweight. Would be glad to see it added.

https://gist.github.com/alazare619/dd5e52eb29cb6119385cef760fa1e788

[2017-01-19 21:13] alazare619 commented on #72
closing till confirmation about ip address

[2017-01-19 21:13] #72 closed

[2017-01-24 15:11] alazare619 opened #78 "Duplicati fails to install"
Duplicati fails to install on a fresh install of rockstor..I'll attempt to get logs.

[2017-01-24 16:05] alazare619 commented on #78
`[24/Jan/2017 08:25:59] DEBUG [storageadmin.views.rockon_helpers:62] Attempted to remove a container(duplicati2-canary). out: [''] err: ['Cannot connect to the Docker daemon. Is the docker daemon running on this host?', 'Error: failed to remove containers: [duplicati2-canary]', ''] rc: 1.
[24/Jan/2017 08:25:59] DEBUG [storageadmin.views.rockon_helpers:123] exception while installing the Rockon(39)

[2017-02-06 21:03] magicalyak commented on #64
Is the best way to do this to open a new PR?

[2017-02-10 19:29] roweryan opened #85 "unifi rockon missing log volume?"
Upstream has two volumes, one for config, one for logs. Could we get prompted for the logs volume too?

[2017-02-10 19:52] phillxnet commented on #85
Linking to upstream dockerhub image page:
https://hub.docker.com/r/jacobalberty/unifi/

[code]

[2017-02-15 21:43] roweryan commented on #85
But the rockon doesn't support the timezone or both volumes :(

[2017-03-02 03:40] brodonalds opened #90 "subsonic rockon fails to install"
Hey all, I'm getting an error when i attempt to install the subsonic rockon. I get a message about it being unable to find the docker image even after updating.

[2017-03-03 17:41] nfriedly opened #91 "Automatic validaton of PRs"
Pull Requests should automatically be tested to at least contain valid JSON, and could perhaps be validated against a [JSON-Schema](http://json-schema.org/) to ensure they conform to the expected format.

Initial discussion at https://github.com/rockstor/rockon-registry/pull/81#issuecomment-284015582

CC @magicalyak @phillxnet @schakrava

[2017-03-03 17:44] magicalyak commented on #91
This is from a discussion on a Rock-On to streamline some of the usual suspects around JSON preferences.  I'm in full support but need to figure out how to put this together.

[2017-03-12 13:08] phillxnet opened #93 "Add a bacula server rockon"
Bacula is a well respected highly developed client server network backup system. Running a server (Director service + Storage Daemon) instance as a Rockon would add value to Rockstor. Client software is available for all major platforms and the project has now been running for 17 years.  Although tape archive facilities were it's original remit it now equally supports file archives via pools of ba

[2017-03-12 19:06] schakrava commented on #93
I've used Bacula a few years ago and remember liking it. I agree with you @phillxnet that it would be great to have it as a Rock-on.

[2017-03-13 10:37] pauldsmyth commented on #93
I used to use Bacula but then moved to Bareos which is a fork by one of the founders. I'm not currently using it but would be interested in this

[2017-03-14 16:11] alazare619 commented on #93
https://hub.docker.com/r/freenas/bacula/
also exists

[2017-03-14 18:06] phillxnet commented on #93
@alazare619  Yes I saw that image, by far the most downloaded.
Appears to build from source version 741. Not sure that's the way to go really.
And 741 (1st June 2016) is now 5 releases behind current of 7.4.6 (11th March 2017).
Tricky. Looks like we may have to role our own maybe.
My fedora 24 has 7.4.5-1 packages available by default.

My understanding is that one has to keep the client and serve

[2017-03-14 18:09] phillxnet commented on #93
In order that this issue be available for those those wishing to develop a bacula rockon I'll open a new issue for BareOS.

[2017-03-14 18:14] phillxnet opened #94 "add a BareOS server rockon"
BareOS is a fully AGPLv3 fork of bacula, please see the related discussion for a bacula rockon in issue #93
Copying my comments from that issue in here:
"I'm rather favouring we adopt @pauldsmyth move and consider Bareos given they have a far more current binary download for a bunch of linux distros and win.

Also from their web page:

"Bareos is a 100% open source fork of the backup project from

[2017-03-14 18:25] alazare619 commented on #93
I've done some reading over my lunch break. I to favor the idea of BareOS based upon what I've read.

[2017-03-14 18:34] alazare619 commented on #94
2 things I see that might be problems. The first being that the SQL DB password is passed as an enviromental variable. This can be seen in top...the other being that all the components use docker-compose which I'm not certain how to achieve this with Rockstor.

[2017-03-14 18:35] phillxnet commented on #93
Linking back to #94 "Add a BareOS server rockon".

[2017-03-17 20:40] seffyroff opened #95 "Allow storage definition within Rockon install UI"
Please allow me to define shares at point of deployment during the install UI - the ability to specify a path relative to an existing share (eg /rockonshare/config/plex/) would make the deployment flow way less clunky.

[2017-03-17 20:43] seffyroff opened #96 "More descriptive Rockon Catalog"
Right now browsing the Catalog of Rockons is very sparse.  I don't know the source of the Rockon (whose Plex comtainer is that) without looking in Github at the contents of the .json.  I don't know the version number, or last update version - these are important :)

[2017-03-21 09:26] JohnnyCalavera commented on #43
Suman stated that 3.8.16-15 comes with updated docker packages (1.13.1).
So I guess we'll have a few more rock-ons coming to Rockstor 3.9

[2017-03-22 13:33] magicalyak commented on #64
It appears that data isn't stored in the right place in 1.30 I am working on that issue hopefully this week

[2017-03-27 07:30] coleberhorst opened #102 "What's the standard behavior for docker / rock-ons auto-updating themselves?"
Was just wondering what the policy is for rockons updating themselves or having auto-updating features enabled by default. I was made aware that on a vanilla linux server this is frowned upon, but was wondering if rockstor would have any issues at all with auto-updating rockons. Basically should rockons update themselves or should they rely on new docker packages being released (many of which are

[2017-04-02 22:49] JasonTarka commented on #90
I didn't notice there was a bug report filed for this, but I fixed it in #103, which got merged earlier today.

[2017-04-03 10:40] phillxnet commented on #90
@brodonalds If you could confirm that your install now works (after pressing the Update button on the Rock-ons page that is) then you could close this issue as:
"Fixed by @JasonTarka in pr #103 ".

[2017-04-03 11:54] brodonalds commented on #90
Looks good guys. Thanks

[2017-04-03 11:54] #90 closed

[2017-04-13 17:52] phillxnet commented on #43
Please update the following forum thread where forum use OpenSourceUser expressed an interest in this Rockon:
https://forum.rockstor.com/t/linuxserver-ios-nextcloud/3101

[2017-04-15 14:33] martmaiste commented on #43
Here is another Nextcloud Docker and Rock-On file for easy installation. It includes php-fpm and Nginx reverse proxy with SSL and Let's Encrypt support.

https://github.com/martmaiste/rockstor/tree/master/nextcloud

[2017-04-18 19:06] #85 closed

[2017-04-28 19:54] florianduclot commented on #43
https://github.com/martmaiste/rockstor/tree/master/nextcloud

I tried this container on Rockstor 3.9.0 and it seems to work for me... a JSON file already exists, and the inclusion of a reverse proxy in the container is appreciated (to me, at least).

[2017-05-09 19:38] alazare619 opened #108 "Ombi not in list"
@schakrava  appears ombi is not in the list. I've hit update a few times to no luck. Removed the Rockon-Root-Share still no bueno. Had a few others verify this too. No luck Ombi still isn't propagating.

[2017-05-10 11:42] phillxnet commented on #108
@alazare619 Thanks for reporting this. This is strange. I can confirm here also. From a quick look it seems like the only Rock-on not showing up in UI from the canonical list in:
https://github.com/rockstor/rockon-registry/blob/master/root.json
Is that your experience also?
It was added to root.json 16 days ago in the following commit:
https://github.com/rockstor/rockon-registry/commit/81189ed0271

[2017-05-10 14:00] alazare619 commented on #108
yes, I have 44 available rockons to choose from. plus 4 I have installed already which is 48. There is 49 in the root.json so it appears ombi is the only one missing.

[2017-05-13 02:37] StephenBrown2 opened #109 "Request: filebot"
rednoah has created a node server app for filebot and packaged it in a docker container here: https://hub.docker.com/r/rednoah/filebot/

The filebot Node Service is here: https://github.com/filebot/filebot-node

and the How to is here: https://www.filebot.net/forums/viewtopic.php?f=13&t=2733 (It's pretty basic)

But I figured it would be a good addition to a media server.

[2017-05-20 08:10] coleberhorst opened #111 "rockons (plex) reset their config on add/remove volume changes"
This is particularly noticeable with plex. The config wipes on any add volume action. Is this an intended action or something that is able to be stopped?

[2017-05-20 11:24] phillxnet commented on #111
@coleberhorst I think I know what you mean but could you sketch out the steps you took to reproduce this and the difference between expected/desired and observed behaviour.
Thanks.

[2017-05-20 14:28] coleberhorst commented on #111
Sure, wrote this a little late after a day of programming xD

1: Install plex with example volumes "plex-config" as /config and a share "movies" as /data.
2: Configure plex as desired with plex server name etc. Plex starts with a setup wizard.
3: Stop plex and use add storage support to add a share "tv" as /tv.
4: Start plex again with new volume, plex immediately loads the setup wizard and plex h

[2017-05-29 13:23] jfearon opened #113 "Logitech squeezebox docker image is out of date"
Hi,

The logitech squeezebox docker image is now pointing at an old version (and technically its been renamed to logitech media manager too).  Is it ok to simply update the rock on to point at another image on docker hub?  For what its worth the most popular image works with something similar to:

[code]

[2017-06-15 00:25] StephenBrown2 commented on #109
So far I've got this json:
https://gist.github.com/StephenBrown2/d14ef544562a75600c788d2ded638ffe

I'll submit it as a PR soon, but if anyone has any suggestions, I'll gladly take them.

[2017-07-11 18:57] jybleau opened #117 "btsync rockon should be replace by resilio/sync"
bittorrent/sync docker image has been deprecated and replaced by resilio/sync
https://hub.docker.com/r/resilio/sync/

Deprecated image stops at version 2.3.8 which causes licences issues if all your other peers are on 2.4 using latest Resilio licence model.

Can we expect an upgrade soon? Does changing the Rockon's name and image will cause upgrade problems?

Thanks

[2017-07-16 19:01] magicalyak commented on #109
If you tested it go and submit the PR.

[2017-07-16 19:03] magicalyak commented on #117
It's probably better to make a new rockon and just either move or reuse the share from the previous one.  It's a hard sell to update the entire rockon since some people may have a need for the older version.  Did you want to take a crack at making a new rockon and submitting a PR request?

[2017-07-16 19:05] magicalyak commented on #113
Go for it, just fork and submit a PR

[2017-07-18 16:40] jybleau commented on #117
Good idea. I'll do a PR.

[2017-08-25 02:03] #117 closed

[2017-09-15 18:40] #108 closed

[2017-09-15 18:52] alazare619 commented on #56
please close this ticket as the json file was removed.

[2017-09-15 22:01] #56 closed

[2017-10-22 18:09] skynett81 opened #132 "Addon UNMS"
can you make an addon for UNMS its an addition to Unifi controller

Ubiquiti Network Management System (beta)
Manage all of your EdgeMAX®, EdgeSwitch®, airMAX® and UFiber devices.

Centralized devices configuration, backups and mass FW upgrade
Performance charts with real-time graphs
Outage notifications and custom alerts
Map of your network sites and endpoints
https://github.com/Ubiquiti-App/UNMS

[2017-10-22 18:22] phillxnet commented on #132
@skynett81 Thanks for accommodating the move of this issue form rockstor-core.
Linking to your forum post on the same:
https://forum.rockstor.com/t/rocks-ons-addon-unms/3927

[2017-10-22 20:30] greggiceton commented on #111
Hi.  I just wanted to let you know that I have just experienced this problem, so its still on going.

[2017-11-10 22:03] thailgrott opened #136 "Suggested Rockon for DNS Service Automation"
The phesley docker-dns-rest gives a container with a rest API to automatically build DNS for the docker containers. This would be useful for configuring other docker containers with host names, instead of by IP or manually keeping a primary DNS for the zone.

 https://github.com/phensley/docker-dns-rest

While trying to translate the docker command to the needed Rockon json.
[code]
The following J

[2017-11-22 21:28] alazare619 commented on #132
I'll see what I can whip up over thanksgiving weekend.

[2017-11-22 22:53] alazare619 commented on #132
adding notes for future me to reference this weekend after lots of turkey and food comma...

Install script references git repo latest version file then pulls the tar file in the gitrepo with another installscript...second installscript pulls image from docker hub and passes through the following global variables...

`VERSION="latest" PROD="true" DEMO="false" NODE_ENV="" USE_LOCAL_IMAGES="false" D

[2017-12-10 05:02] alazare619 commented on #132
https://github.com/Ubiquiti-App/UNMS/wiki/Manual-installation-using-Docker-Compose

still working on this time has been limited due to holidays wiki has been added

[2018-01-16 02:06] alazare619 commented on #132
https://github.com/rockstor/rockon-registry/pull/142

[2018-02-18 03:45] bennysp commented on #43
FYI - I have submitted a PR for a **nextcloud-official** which was modeled from the **owncloud-official**.  I have also tested this and I am using it.

[https://github.com/rockstor/rockon-registry/pull/145](https://github.com/rockstor/rockon-registry/pull/145)

[2018-02-18 08:17] wiza opened #146 "Created a crashplan pro rockon"
Hi,

If anyone else have crashplan pro account, can you test: https://gist.github.com/wiza/bb0a9c76356315422530eae6d63139d5

Uses docker from https://hub.docker.com/r/jlesage/crashplan-pro/ (not mine)

[2018-04-06 01:58] bennysp opened #147 "Rockon PRs - are they being managed?"
Hi - I have submitted the below PR for adding Nextcloud Rockon.  Looking at the list and date of all the PRs, I am questioning if this is actively reviewed.

Is there anything I can do to help with my PR?  Anything I can do to contribute PR reviews to this community?

I love Rockstor and I think these Rockons help expand the functionality.

https://github.com/rockstor/rockon-registry/pull/145

[2018-04-06 09:55] phillxnet commented on #147
@bennysp Thanks for chasing this issue up. The rockon-registry repo is definitely due for a little more attention. I was chuffed myself to see you pr but I am not the best candidate to review the indicated pr as my docker knowledge is wanting (but improving) and in this specific case I am also unfamiliar with Nextcloud.

We could see if @magicalyak, @MFlyer, @daniel-illi, or @florianduclot have ti

[2018-04-06 11:32] magicalyak commented on #147
I'll go through them in the next few days, sorry about the delays, rough last few months for me and I haven't been watching closely.  I'll run through them soon.

[2018-04-06 12:43] bennysp commented on #147
Thanks @magicalyak !

[2018-06-17 22:15] magicalyak commented on #136
One option honestly might be installing webmin on the box itself. You could install bind, bind-utils and dhcp and get to manage dns and dhcp from the url console.  I haven't tried this though.

[2018-07-29 15:51] FroggyFlox opened #152 "Update Emby Rock-on"
Emby server recently released all its versions on DotNet and thus changed its docker image substantially. While the current Json Rock-on still works, updating it would bring a few new features.
https://hub.docker.com/r/emby/embyserver/

I'll try to spend time on this and am creating this issue to remind me and keep track it it.

[2018-08-21 02:48] FroggyFlox commented on #152
Hi @phillxnet ,

How can one test a new version of a Rock-on that already is on the official Repository?
When trying to load a differentially named JSON loaded in `/opt/rockstor/rockons-metastore/` I get the following error:
[code]
[code]

[2018-08-21 12:36] schakrava commented on #152
@FroggyFlox Can you name the embyserver container differently? That should fix the problem.

[2018-08-21 12:49] FroggyFlox commented on #152
Unfortunately the container is the same so I can't name it differently.
One option is for me to fork the container for testing purposes only and use that to test the updated JSON. Once it's tested and verified to work I could then change the container back to the actual `emby/embyserver` and submit that for PR.

Alternatively, is there a way to change the location from where the Rock-ons are fetch

[2018-08-23 01:04] FroggyFlox commented on #152
The main (and only important?) new feature would be the support of hardware transcoding, which requires adding the support for the `--device` mapping in the JSON file.
However, as this would be needed (and possible) only for users with components compatible with hardware transcoding, this would need to be implemented as an additional option during RockOn install.
Follow the same implementation as

[2018-08-27 17:05] vesper1978 opened #158 "dropbox.json references /var/logs"
Can someone update the dropbox.json to say:

Instead of:

[2018-08-27 17:37] phillxnet commented on #158
At @vesper1978 nice find and thanks for submitting this issue.

Do you fancy having a go yourself? If so make sure to do the change in a named branch ie see:
http://rockstor.com/docs/contribute.html#making-changes

This one might be amenable to just GitHub edit tools, ie just through GitHub Web-UI, but making an issue branch first. That way it keeps those changes isolated, in your repository, from

[2018-08-27 17:47] vesper1978 commented on #158
@phillxnet Thanks, I've submitted my pull request.

https://github.com/rockstor/rockon-registry/pull/159

[2018-09-13 13:18] FroggyFlox commented on #152
For those interested, a corresponding PR was submitted:
https://github.com/rockstor/rockstor-core/pull/1962

[2018-09-13 13:47] magicalyak commented on #147
I need to go through them, thanks for being patient, will try to cover all of them in the next two weeks.

[2018-10-08 03:56] lgchris opened #165 "COPS Rockon incorrectly configures /movies"
https://github.com/rockstor/rockon-registry/blob/master/cops.json#L21

^ Here we're setting up for books at the /movies path. COPS configuration in the image is looking for books at the /books path. This blocks COPS from running properly.

Recommend updating the line to /books instead of /movies. I'm unable to try it / create a pull from my current environment.

[2018-10-08 13:39] Noggin01 opened #166 "TS3 Rock-On Deprecated"
Additional information can be seen on the forums:

https://forum.rockstor.com/t/teamspeak-rock-on-dead/5282

[2018-10-08 18:28] phillxnet commented on #165
@lgchris Nice find and thank for opening this issue.  Hopefully someone will pick this one up shortly.

[2018-10-13 12:43] FroggyFlox commented on #165
Hi @lgchris , I just created a PR with the changes you recommended. Feel free to test and provide feedback on the corresponding PR: #167

[2018-10-13 16:00] FroggyFlox commented on #166
Hi @Noggin01,

I finally could get back to this and quickly wrote an updated rockon file for TeamSpeak based on the official Docker image. You can find the file below:
https://github.com/FroggyFlox/rockon-registry/blob/issue166_Ts3_official/teamspeak3.json

It installs fine on my Rockstor 3.9.1-16 machine but as I'm not a TeamSpeak user, I'm not sure how to properly test its functions. Would you b

[2018-10-13 19:59] Noggin01 commented on #166
Well, I was able to get it to install using the Rock-On services, but it installed on different ports than what I expected.  I did just skim over the installation stuff with the desire to select the defaults, but for some reason the ports were all incremented by 1 by default.  I DID have another TS3 running EARLIER but I disabled it before installing the Rock-On.  I uninstalled the Rock-On, adjust

[2018-10-13 20:55] FroggyFlox commented on #166
Thanks for testing it!
Regarding the ports, the behavior you described is the expected behavior. Indeed, as you had a prior installation of the Rock-on, Rockstor automatically detected these ports as already used so it automatically defaulted to one port higher. Using these ports on your TS client should have been working.

Regarding the admin token and login credentials, an easier way to look to

[2018-10-14 00:06] Noggin01 commented on #166
I did see the command "docker logs Teamspeak3_official" and that command did not print the token.

2018-10-13 19:37:43.173792|INFO    |ServerLibPriv |   |SystemInformation: Linux 4.12.4-1.el7.elrepo.x86_64 #1 SMP Thu Jul 27 20:03:28 EDT 2017 x86_64 Binary: 64bit
2018-10-13 19:37:43.173829|INFO    |ServerLibPriv |   |Using hardware aes
2018-10-13 19:37:43.181322|INFO    |DatabaseQuery |   |dbPlugin

[2018-10-15 15:04] FroggyFlox commented on #166
`docker logs Teamspeak3_official | grep loginname` works after first install of the Rock-on, but I haven't tested it after later uses... I like that it provides all credentials needed in addition to the token in just a simple one-liner, but we may need to add alternatives based on what you wrote (digging in the TS logs) as well.
I'll see what I can come up with.
Thanks a lot for testing this!

[2018-10-16 01:55] #111 closed

[2018-10-16 01:55] #102 closed

[2018-10-20 12:31] FroggyFlox commented on #166
Thanks a lot for the feedback, @Noggin01, I'm glad to read it seems to work as intended!
That also reminded me I needed to test the token grep after subsequent start of the Rock-on. It indeed only prints it out to the docker logs during the first install. After subsequent start of the Rock-on, we need to grab it from the logs as you did.
I'll add it to the help information, but could you confirm t

[2018-11-20 21:01] FroggyFlox commented on #95
Hi @20design, thanks for your feedback on this issue, Personally, I didn't notice it until now.

Would you and @seffyroff be willing to describe in a little bit more details (maybe with an example?) what you would like to see?
I myself thought about allowing the creation of share(s) from within the Rock-On install wizard (so that one does not have to exist the install wizard, create the share and

[2019-01-21 22:56] wiza commented on #152
Any plan on merging this?

[2019-02-01 19:36] phillxnet opened #171 "missing root.json entries"
We currently have a number of missing root.json entries which results in a Web-UI 'no show' for otherwise merged rock-on json files.

Synchronise root.json content with current Rock-on json definition files.

[2019-02-01 20:17] phillxnet commented on #171
To ease the task of ensuring we have synchronisation between json files and the root.json the latter was previously arranged alphabetically. This arrangement has since fallen into disrepair. I intend that this issue be used to also re-address the alphabetical arrangement of root.json's content so ease further management of it's content.

To date among the missing we have:
[code]
However I am due t

[2019-02-01 20:32] FroggyFlox commented on #171
Thanks for bringing this up @phillxnet !
That's something I noticed a little while ago and started paying attention to for some pending PR but somehow never took upon fixing for existing Rock-ons. Let me know if you'd like me to take care of it.

[2019-02-01 20:46] phillxnet commented on #171
@FroggyFlox Thanks for the generous offer; yes it's been bugging me for a bit now but as I'm due to merge a load of the pending pr's (at least those with reviews / confirmation of working) I might as well use this issue to do the associated additional entries / tidy up. I've already done the sort locally using the following rather fine PyCharm plugin:

https://plugins.jetbrains.com/plugin/2162-str

[2019-02-01 21:59] FroggyFlox commented on #171
Sounds good, and thanks again for taking care of this!

In order to help reducing this problem in the future, what do you think about adding instructions on how to add any new JSON file to the `root.json` in a relevant section of the README file? Maybe that one:
https://github.com/rockstor/rockon-registry#steps-to-contribute-a-rock-on-with-a-pull-request

We could even also add the same instructio

[2019-02-02 18:15] #152 closed

[2019-02-02 18:44] phillxnet commented on #171
Changes to existing entries:

As per "Update Emby Rockon" #161
"EmbyServer": to "Emby server":

[2019-02-02 19:39] #165 closed

[2019-02-02 21:30] #171 closed

[2019-02-02 22:06] phillxnet opened #173 "no show for recently merged netdata rock-on via direct to github repo test"
While testing this repository via client reconfiguration to retrieve directly from GitHub prior to production deployment we appear to have a no show in Web-UI of the recently merged NetData Rock-on.
However it does appear in the root.json via:
https://raw.githubusercontent.com/rockstor/rockon-registry/master/root.json
[code]
and it's relevant file netdata.json is also retrievable via it's raw link

[2019-02-02 22:09] phillxnet commented on #173
@FroggyFlox Any ideas on this one. Maybe I accidentally slipped in a 'special char'.
Tested by hand patching python code to use GitHub directly:
ie:
[code]

[2019-02-02 22:30] FroggyFlox commented on #173
Thanks for the good idea of using a direct link to the github repo.... I should have tried that for the Emby Rock-on. I'll try to give it a shot if I get the time to.

Thanks again for all your work with all of the pending PR, that was a lot done! I put the missing reviews on my to-do list so I hopefully be able to test them as soon as possible.

[2019-02-03 12:46] phillxnet commented on #166
@Noggin01 and @FroggyFlox Am I reading this issue correctly as a new 'work in progress' Teamspeak Rockon / update? It would be great to see this resolved, especially if ours is now defunct. Again as per @FroggyFlox I'm not a Teamspeak users.

Happy to merge a pr on this when it's ready.

[2019-02-03 12:50] phillxnet commented on #10
@HTPC-Schrauber Just to say I'm closing this issue as a backlog tidy-up. We haven't had repeat confirmation and it now relates to very old code.
Thanks for the issue and apologies that it got no responses.

[2019-02-03 12:50] #10 closed

[2019-02-03 12:59] phillxnet commented on #31
Can we have input on this idea as I still think it stands up. Plus it would good to get this expected behaviour in place sooner rather than later. Especially as our current list of Rock-ons is now quite large.

[2019-02-03 13:02] phillxnet commented on #43
I have updated @bennysp pr referenced in this issue as there is some useful discussion which I think is on verge of being resolved, i.e. I think we are almost there on this one. Please take a look at that pr and comment as you see fit.

[2019-02-03 13:03] phillxnet commented on #54
Are there any takers on this one. I see SpiderOak as a nice Rock-on addition.

[2019-02-03 13:05] phillxnet commented on #64
@magicalyak Does your point only relate to the 1.30 Rock-on? In which case we could still fix this in the other zoneminder Rock-on. But yes would be nice to tend to them both really.

[2019-02-03 13:10] phillxnet commented on #71
@renatoornelas Just doing some tidy here in our old issues. Thanks for the feedback. We may now have a new capability that relates to your prior requirement.

@FroggyFlox Does your recently added:
"Add Support for Docker run command arguments. Fixes #1967" #1968
relate to @renatoornelas's prior circumstance.

In which case we can note this and close this issue as a result.

[2019-02-03 13:15] phillxnet commented on #91
This JSON validation task may be one well suited to the new GitHub Apps system. Once that has properly rolled out I can take a look. Would be a great addition as we have had several non json additions as initial contributions to the Rock-ons repo.

Anyone up on the new GitHub Apps is more than welcome to chip in here on how we might implement this. Seems like a nice task to start out on using such

[2019-02-03 13:17] phillxnet commented on #94
Still interested in this, but have to focus elsewhere at the moment.

Any takers on this one.

[2019-02-03 13:30] phillxnet commented on #96
@seffyroff Sorry to wake this sleeping issue up but it's a really good point.
Linking to a related issue re standardising links within the individual Rock-on presentations:

"Make Rock-on links consistent" #31

To centralise this discussion I'm going to close this issue as a duplicate and quote your comment in that issue. We are then more likely to keep this issue focused.

Duplicate of #31

[2019-02-03 13:30] #96 closed

[2019-02-03 13:32] phillxnet commented on #31
Including a quote from 'closed as duplicate' issue by @seffyroff towards this discussion:

_"Right now browsing the Catalog of Rockons is very sparse. I don't know the source of the Rockon (whose Plex comtainer is that) without looking in Github at the contents of the .json. I don't know the version number, or last update version - these are important :)"_

Thanks @seffyroff .

[2019-02-03 13:37] phillxnet commented on #109
@StephenBrown2 Thanks for the proposal and leg work. I'm just working through our old issues.
Do please consider submitting your Rock-on as @magicalyak suggested. It's often easier for people to chip in with suggestions in the context of an open pull request.

Otherwise if no one want to take this on I think it's best we close this issue.

Labelling hopefully appropriately.

[2019-02-03 13:37] FroggyFlox commented on #31
Hi @phillxnet ,

I think that's a good idea and does make more sense as it allows the user to get more information on what this Rock-on actually does. I also agree that we need to keep a good description of the image's particularities especially as we now have more and more projects with multiple Rock-ons (Owncloud for instance).
Should we push for a more homogenous use of the `"description:` obje

[2019-02-03 13:42] FroggyFlox commented on #71
Yes, it should address exactly that. Thanks a lot for bringing this up!

@renatoornelas, if it still is relevant, maybe you could give it a try and confirm it is working as intended?

[2019-02-03 13:47] phillxnet commented on #166
@FroggyFlox Thanks for picking this one up and your work done. Would be great to get this sorted.
As per your question.
I say we update the existing json. If the current one doesn't work anyway (upon re-install) then best we update it. No point having a broken Rock-on as will only let people down when they come to re-install. And if we edit it then my understanding is that existing install will be

[2019-02-03 13:58] FroggyFlox commented on #95
That is very close to the top of my list (if not at the very top) of what to address next once I'm done with my current work.
I haven't thought about details yet, but I like your idea. We may even not have to retrofit all Rock-ons definitions and "simply" use a combination of Rock-on/container name and volume name to automatically create a "sensible" default name for a share. But again, letting th

[2019-02-03 14:13] phillxnet commented on #31
I think all descriptions should contain example share names so it just makes for an easier experience. So definitely that. I think all the early ones did have this and it got missed as we went on.
Also keen on formalising within the json as then all new rock-ons can be vetted to contain this and we can problematically extract with more reliability. Potentially properly offering a Web-UI component

[2019-02-03 14:57] phillxnet commented on #136
@FroggyFlox Sorry to flag yet another issue but I'm thinking this may relate to your ongoing enhancements re docker networking, in which case we could link it for context.

[2019-02-03 15:08] phillxnet commented on #146
@wiza Any progress on this Rock-on? Are you still using it for example? In which case I would like to encourage you to create a pull request with it's latest version. That way it can be reviewed and hopefully merged.

[2019-02-03 15:12] phillxnet commented on #158
@vesper1978 Closing this issue as fixed by your associated pr that has now been merged.
Apologies for the delay, we are now almost done with our Rock-on (rockon-registry) backlog.
Fixed by #159

[2019-02-03 15:46] phillxnet commented on #147
@bennysp Re this issues title: "Rockon PRs - are they being managed?"

I have now addressed every pr and issue in this repository, with the much appreciated assistance of all other participants. Thanks mainly to @magicalyak and @FroggyFlox reviews and suggestions, along with a few less regular reviewers who were all credited in each case.

And by way of my recently extended capabilities within the

[2019-02-03 17:32] magicalyak commented on #64
I believe that's 1.30+, so later versions also.

[2019-02-03 19:07] FroggyFlox commented on #166
I agree with you on all counts, so I'll prepare a PR to update the existing one when I get the chance.
The only disadvantage might occur when an existing user uninstall the old and tries to update by reinstalling the Rock-on. It would receive the new image, but I wonder if that would lead to conflict with the data structure as the mapped path changed between the two images. Of course this applies

[2019-02-03 21:40] wiza commented on #146
I’ll do a proper pull request in couple of days when I have time. I do use it. Missing reinstall button in rockstor for quicker updates (need to shutdown, delete and install). For example if rockon has not changed it wouldn’t need to ask options again.

[2019-02-03 22:45] FroggyFlox commented on #146
Thanks in advance for your future PR.
I simply wanted to share my two cents on your comment on a "re-install" button. This is actually something I thought about and wouldn't ask for too much on the coding side so I personally be up for it.
If you don't mind, you can create a dedicated issue for it on the `rockstore-core` repository and put more details on what you have in mind (if applicable).

Ch

[2019-02-04 17:41] FroggyFlox commented on #166
The corresponding PR has now been submitted: #175.

@phillxnet , as discussed above, this PR uses the same names (both Rock-on and container) as the current one to completely replace it.

[2019-02-05 20:35] #166 closed

[2019-02-06 22:36] phillxnet opened #176 "use new official pi-hole image"
Our current pi-hole Rock-on uses the now outdated diginc/pi-hole image.

As per quote from: https://hub.docker.com/r/diginc/pi-hole/ (updated 6 month ago)
"We've moved! To get the latest updated Pi-hole v4.0 please use pihole/pihole:"
we should move to using the new updated image / location.
https://hub.docker.com/r/pihole/pihole/ (updated 2 days ago)

[2019-02-07 00:42] FroggyFlox commented on #176
Here's a quick link to the corresponding pending PR #156 (its title isn't that obvious).
I'll try to make a proper Github review of this PR as soon as possible, sorry for the delay.

[2019-02-07 04:41] coleberhorst commented on #31
If you could decide on a template, I'd be more than happy to fix them all.

[2019-02-07 11:32] phillxnet commented on #176
@FroggyFlox Thanks, knew I'd seen work on this somewhere.
Looks like we need to reduce our backlog still further.
Work in progress.

Now they are linked we can have that pr close this issue. Maybe requesting a title edit on the linked pr would also help things along.
Thanks to @laxdog for the original pr and @FroggyFlox, and @magicalyak, and @haioken for earlier  reviews.
Lets leave this open for

[2019-02-07 12:11] phillxnet commented on #31
@coleberhorst Thanks for the offer. Much appreciated. I'll pop in a little more here.

We may have to take a successive approximation approach hear as the Rock-on system is a work in progress and some what of a moving target. And given @FroggyFlox is the main 'mover' on that system the timing of this across the board change would best be their call.

In summary I initially thought
- A link to upst

[2019-02-07 14:48] phillxnet opened #177 "use new official jenkins image"
Our current Jenkins Rock-on uses the now deprecated jenkins image.

As per quote from: https://hub.docker.com/_/jenkins (last updated 7 months ago).
"This image has been deprecated in favor of the jenkins/jenkins:lts image provided and maintained by Jenkins Community as part of project's release process. The images found here will receive no further updates after LTS 2.60.x. Please adjust your usa

[2019-02-07 14:48] phillxnet commented on #177
I am currently working on this issue.

[2019-02-08 15:31] FroggyFlox commented on #31
Thanks @phillxnet and @coleberhorst for all the ideas, and thanks @coleberhorst for volunteering in deploying what will come up to all rock-ons :+1: . There's a lot to unpack here so I'll try to organize myself as best as I can and cut them in separate, more manageable parts. I apologize in advance if I miss an important point stated above. Note that I also will try to always think about the diffe

[2019-02-08 17:32] phillxnet commented on #31
@FroggyFlox Thanks for your details consideration / thought on this one.

as per:

Not necessarily, hence my comment that we 'deal' with missing new elements such as your suggested "running_title" element. If it's not there we have a blank line. It's not the end of the world and it would make obvious which rock-ons need 'mending'.

Definitely. I'm actually working towards backend testing as we spe

[2019-02-08 18:54] coleberhorst commented on #31
Ok opened an issue for the rockstor-core for the grid idea: [https://github.com/rockstor/rockstor-core/issues/2015](url)

[2019-02-08 21:53] phillxnet commented on #177
Pull request to be present shortly.

This issue was delayed due to a dependency on working docker image tag support; fixed in pending pr:
"honour tag element within rock-on json. Fixes #2014" #2016

[2019-02-09 23:14] phillxnet commented on #1
Closing as fixed by local repo possibility as per last comment here and README.md content. There are not plans for a generic installer from docke hub. We have also now had sickrage and couchpotato Rock-ons for some time.

[2019-02-09 23:14] #1 closed

[2019-02-09 23:20] phillxnet commented on #91
As per formatting I'm thinking 4 spaces, as per our Python, and no tabs obviously :). We have many existing Rock-ons that have a mix of 2 and 4 spaces and some that also have tabs mixed in. Is there a black equivalent but for json that anyone knows of?

[2019-02-12 13:02] rkunschke opened #179 "Emby /media not usable in emby"
I try to add the mounted /media/music folder too the Library. The Error says the folder is not in the data-system. I checked the id/gid of the folder and used the right ids on install so thats not the problem.

[2019-02-12 15:54] phillxnet commented on #179
@rkunschke Thanks for the report. But I think the best place for this question / query is on our forum, at least initially. There should be others who have experience with this Rock-on that can hopefully chip in on that the problem might be.
Forum can be found here: https://forum.rockstor.com/

[2019-02-12 16:56] FroggyFlox opened #180 "[New rock-on] Nginx Proxy Manager"
I just came across a project that seems like a very good candidate for Rockstor:
Nginx Proxy Manager: [https://nginxproxymanager.jc21.com](https://nginxproxymanager.jc21.com)

As per its Github page:

[https://github.com/jc21/nginx-proxy-manager](https://github.com/jc21/nginx-proxy-manager)

This seems to provide a user-friendly web-interface to creating and managing Nginx to easily reverse-proxy

[2019-02-13 18:42] wiza commented on #152
I still can't see device options after clicking update and running install?

[2019-02-13 19:09] phillxnet commented on #152
@wiza The changes by @FroggyFlox against this issue have been committed to the GitHub repo, we are just waiting on it's contents being published so that Rockstor installs can then pick up on those changes.
Hopefully this shouldn't be too much longer as we now have quite a few changes awaiting the same 'publish' step.
Thanks for you patience.

[2019-02-13 19:09] FroggyFlox commented on #152
Hi @wiza,

This is likely due to the fact that even though the changes were merged into the PR, they still need to be pushed into the actual file from which Rockstor fetches Rock-ons. I'm unfortunately not familiar with that process so this is something on which @phillxnet and @schakrava should be able to provide more information.
I'm sorry for the trouble.

[2019-02-13 20:19] wiza commented on #152
That’s ok, but how do I know when it’s actually updated (without unnecessary deletion and install)? Are rockons somewhere locally or is the server where those are fetched open for public browsing?

[2019-02-26 15:00] wiza commented on #146
There is now a pull request #181.

[2019-02-26 15:24] wiza commented on #146
And issue #2022 :)

[2019-03-08 12:44] noorbertt commented on #176
any up about a pihole/pihole repo?

[2019-03-08 13:53] phillxnet commented on #176
@noorbertt Thanks for the interest. We do have a refreshed pull request by @magicalyak on this move to the newer pi-hole docker image, plus some additional dns changes, linking for context:

"added dns options for pi-hole rockon" #178

and this newer pull request is simply awaiting @magicalyak's response to @FroggyFlox's suggestions.

Upon that being resolved I can merge the latter pr and conseque

[2019-03-11 14:59] phillxnet commented on #176
Closing as fixed by now merged #178

[2019-03-11 14:59] #176 closed

[2019-03-19 15:21] phillxnet opened #182 "add seafile Rock-on"
Forum member noorbertt has requested the addition of a Seafile Rock-on. Creating this issue to note this request. Please update the following forum thread with this issues resolution:

https://forum.rockstor.com/t/update-the-docker-list/5898

A quick search would suggest that Seafile has for some time been available in a docker image:
https://forum.seafile.com/t/new-seafile-docker-is-ready/5856
(A

[2019-03-19 15:37] phillxnet commented on #182
From: https://manual.seafile.com/deploy/deploy_with_docker.html
It would appear that the DockerHub image is seafileltd/seafile ie:

https://hub.docker.com/r/seafileltd/seafile

[2019-03-19 16:39] FroggyFlox commented on #182
That is indeed an important rock-on to have... There has been an attempt by @TexasDex forum user who graciously shared his json file, but this container was showing some rather odd behavior that was unfortunately blocking:
https://forum.rockstor.com/t/trying-to-make-a-new-rock-on-for-seafile/5238

I haven't had the time to troubleshoot this further since, but it might be worth the effort.

[2019-03-19 17:03] TexasDex commented on #182
The issue was that rockstor by default mounts /etc/localtime into the container.  For some reason, that causes seahub (the web GUI component of Seafile) to crash and restart infinitely.

https://github.com/haiwen/seafile-docker/issues/101

[2019-04-10 14:36] TexasDex commented on #182
I think I figured something out: The container skips the part where it overwrites /etc/localtime if TIME_ZONE is set.  So I added that to the Seafile.json file and it seems to work (although I'm not sure if my env is representative, since I'm also spinning the docker container up via CLI sometimes).  Could someone else give it a try?  Newest JSON here: https://forum.rockstor.com/t/trying-to-make-a

[2019-04-10 18:33] FroggyFlox commented on #182
Hi @TexasDex ,

Thanks again for pinpointing where the problem originated.
Unfortunately, your updated JSON still doesn't work for me, but this time the origin lies with the container's image. Indeed, although the little bit of bash script used by the image in `create_links.sh` works as intended, it doesn't work with the base image that they have chosen as it does not contain the required `/usr/sh

[2019-04-13 18:45] phillxnet opened #185 "remove existing discourse rock-on"
The existing image used discourse/discourse is now superseded, and presumably deprecated by: discourse/base. However given the additional 'special treatment' this newer docker image requires a companion issue has been opened in rockstor-core. This companion issue, linked below, is a dependency of this issue and so would need to be completed prior to this issue receiving attention.

Further input o

[2019-04-29 16:05] phillxnet commented on #182
Closing as Fixed by @TexasDex in pr #184

Thanks to @TexasDex and to @FroggyFlox for review (see also @FroggyFlox's pr comments/contributions)

[2019-04-29 16:05] #182 closed

[2019-05-13 12:32] phillxnet opened #188 "add basic circleci json validation on pr submissions"
The free plan of circleci should enable a post pr submission json lint check to validate, at least syntactically, each pr and provide in place feedback on this check within the pr itself. This would form the first step in reviewing a pull request and avoid admins having to correct basic errors that are easily made / rectified prior to human review.

[2019-05-13 12:35] phillxnet commented on #188
Also consider GitHub Actions as an alternative for the same function.

[2019-05-21 11:55] wiza commented on #146
Don’t use it anymore after changes in terms.

[2019-05-21 11:55] #146 closed

[2019-05-21 17:26] phillxnet commented on #146
@wiza Could you clarify what's happened in their "changes in terms" that has lead you to close your pull request a few days ago and this issue. I know you mentioned config files in the pr but what does this mean in the context of an allocated share?
Thanks.

[2019-05-21 17:50] wiza commented on #146
Those are here: https://support.code42.com/CrashPlan/6/Troubleshooting/What_is_not_backing_up.

It does allow backing up etc on Linux but it’s severely restricts it’s use as a crash planning tool. My biggest problem was exclusion of sparseimage as I want offsite backups of my mac.

[2019-05-21 19:52] phillxnet commented on #146
@wiza Thanks for the info. You could ask on our forum for what others have / are using for their Macs.

[2019-05-21 19:55] wiza commented on #146
Macs are backing up to rockstor with time machine. It was just offsite backup of rockstor I was using crashplan for. I’m probably just going to use some pi+big hd and rsync (or something better) there daily.

[2019-08-29 15:31] magicalyak opened #191 "Unifi rockon for linuxserver is using deprecated repo"
The rockon for ubiquiti controller (unifi) is using unifi when it should be using the latest unifi-controller repo.  The migration is seemless for a pre-existing install so I plan to update the rockon directly rather than create a new one.  It is more stable than the existing ones and the latest gives the 5.10 release of the controller software.

[2019-08-29 15:49] magicalyak commented on #180
You could also change the nginx.conf on the system itself.  I use nginx-plus personally on the system (I work for them is why).  Looks like a good candidate though.

[2019-08-30 12:41] FroggyFlox commented on #180
Thanks for the feedback! From what I can remember this project's setup seemed to be a little involved, but your input supports me in the idea that this project might be worth the effort of adapting it into a rock-on. Ultimately, my goal would be to make it easy for a user not familiar with a reverse-proxy to use one to serve any service ran in a rock-on as (s)he desires. This is why having a frien

[2019-10-14 13:09] #191 closed

[2019-10-14 16:27] FroggyFlox opened #194 "No template for new PRs"
Although one can find detailed documentation on how to submit a PR for a new or updated rock-on in the README.md file, it remains unclear for a contributor what the guidelines for formatting the JSON file are, or what information should be included.

Although this can be partially automated (see #91), one could use [Github PR templates](https://help.github.com/en/articles/about-issue-and-pull-requ

[2019-10-14 16:59] phillxnet commented on #43
Update: @bennysp pr has now been merged but we are awaiting further changes prior to it being added to root.json and published. Please update this issue accordingly with these pending changes.
@FroggyFlox I'm hoping you can finally close this issue via said proposed changes which, due delays on my part, we were unable to have @bennysp commit for themselves.

[2019-10-14 18:10] #43 closed

[2019-10-14 19:48] phillxnet commented on #54
@magicalyak I'm assuming things must have moved on by now. Is their now an official SpiderOak docker image?

[2019-10-14 20:03] magicalyak commented on #54
No there isn't but there may be a better one, this one hasn't been updated in years so let's close this one out

[2019-10-14 20:09] phillxnet commented on #54
@magicalyak Closing as per suggestion. We can always re-open or start a fresh issue on the same it if comes to that.

[2019-10-14 20:09] #54 closed

[2019-10-15 10:49] #194 closed

[2019-10-15 13:00] #177 closed

[2019-10-16 14:58] FroggyFlox opened #197 "[Rock-on Update] ecoDMS is out-of-date"
Thanks to forum member **murraymx** for bringing the fact that the **ecoDMS** rock-on is currently out-of-date, and most of all to forum member **Bert** for the confirmation that the newer version of ecoDMS does work in Rockstor.

The current version used is: 16.09
The newest version is: 18.09.

Notably, the image page does mention that **no direct upgrade from 16.09 to 18.09 is possible and that

[2019-10-16 21:30] FroggyFlox opened #199 "[Rock-on Update] BTSync is out-of-date"
On the Bitorrent Sync image docker hub page, the project now refers to using the _Resilio Sync_ image:

As we already have a Resilio Sync rock-on, we may simply remove the BTSync rock-on.
@phillxnet, I'll create a quick PR as soon as the Resilio Sync rock-on is confirmed to still work as intended.

[2019-10-17 12:46] FroggyFlox commented on #199
The **Resilio Sync** rock-on is  confirmed to be in good working condition so we can simply deprecate the BTSync rock-on.
I'll proceed with a PR soon.

[2019-10-17 13:10] FroggyFlox opened #201 "[Rock-on Update] YouTrack rock-on is out-of-date and not based on official image"
The current image used by the [YouTrack](https://www.jetbrains.com/youtrack/) rock-on is using a non-official image hardcoded to use the 2018.2.42133 version. As of today, it also has been updated a year ago.

Notably, an [official image supported by JetBrains](https://hub.docker.com/r/jetbrains/youtrack) is available:
- updated 3 days ago
- uses 2019.2.58831 version

It would thus seem preferable

[2019-10-17 19:56] phillxnet commented on #201
@FroggyFlox Agreed.

[2019-10-18 11:21] #197 closed

[2019-10-18 12:21] #199 closed

[2019-10-19 15:13] FroggyFlox commented on #201
I have now tested the official YouTrack image and it works well. A few things to note:

- no drop-in upgrade from the older version used in our current rock-on is possible, but a clear interface exists for backup from the old instance and restore into the new one.
- a dedicated user with a particular UID needs to be created first, but all of it can be done from within Rockstor UI.

I'll thus proce

[2019-10-26 19:11] #201 closed

[2019-11-10 14:40] Arderos opened #205 "Deluge json has no incoming port defined"
Right now only the WebUI (8112) and daemon (58846) ports are configured in json but torrent client needs a port for incoming connections and right now no such port is defined which makes seeding very slow if not non-functional.

[2019-11-10 16:21] phillxnet commented on #205
@Arderos Thanks for your report.

We have a related issue opened by @Psykar where they propose giving this Rock-on --net=host which is something I like to avoid. Do you fancy preparing a pull request for this issue where a set number of 'incoming' connection ports are defined? If that can be made workable. If you do have a go at this then please reference both this issue and @Psykar's as then we c

[2019-11-10 16:26] phillxnet commented on #205
Linking for context to @Psykar's open pull request:
"Change deluge to --net=host to allow remote connec" #193

[2019-11-10 16:36] Arderos commented on #205
We can define incoming port in json, no problem, but the user will have to input the same port in Deluge's config. AFAIK, there are no ENV to define it - has to be done manually.
So the question is - do we go "double config" route whilst avoiding "--net=host" or go with "--net=host"?

[2019-11-10 17:05] phillxnet commented on #205
Exactly.

But maybe better to have this double config, even though it's not in keeping with the Rock-on config 'easy' ethos (except in particular examples where it is unavoidable) than to pull the rock-on entirely though. I don't think this app is worth the exception and it's consequent risks. We are also preparing to do a tidy soon where all non fully functional Rock-ons are likely to be pulled.

[2019-11-10 17:08] phillxnet commented on #205
Linking to "Rock-ons with write-ups":
http://rockstor.com/docs/docker-based-rock-ons/overview.html#rock-ons-with-write-ups

[2019-11-10 17:54] Arderos commented on #205
Yeah, I couldn't agree more. "--net=host" seems like a huge overkill for a torrent client and the issue stems from the original container from linuxserver.io which is supposed to be run with host networking by design.
I will try to do a custom json and describe an additional port. If all goes well, I'll create a PR with that json.

It sure does. You either define a single port or select "Use Rando

[2019-11-12 02:00] Psykar commented on #205
Unfortunately making the port external on docker wasn't all that was required - UPNP wasn't working either.
So unless you use `--net=host` you actually have three places you need to set configs
* rockstor
* deluge
* your router

I ended up running Deluge outside of Rockstor. If you find a way to get upnp to work as well without using `--net=host` I'd love to hear it!

[2019-11-12 12:59] phillxnet commented on #205
@Psykar Thanks for you input on this one. We're nudging it along, bit by bit.

I'm still in favour of having a doc entry for these config steps as not all folks have UPnP enabled on their routers anyway (domestic routers tend to have it enabled though) and so that element is really outside of Rockstor's remit and in the realm of external network config / remote access setup. Better we doc this set

[2019-11-27 20:12] HBDK opened #206 "Unmaintained and outdated duplicati?"
So i have had some issues with the duplicati contianer and went to check on it on [docker hub](https://hub.docker.com/r/intersoftlab/duplicati/dockerfile) and [github](https://github.com/dmitryint/docker-duplicati) and it looks pretty dead.

maybee you should consider replacing it with one from linuxserver.io

[2019-11-28 02:34] FroggyFlox commented on #206
Thanks @HBDK for bringing the attention on this one; I agree with you that it needs to be updated given it hasn't been updated since at least a year ago.

Regarding replacement, your recommendation of the Linuxserver.io image seems the best to me as well. There seems to be an official image (https://hub.docker.com/r/duplicati/duplicati) but not as popular as the Linuxserver.io one. Here are the nu

[2019-11-28 03:42] FroggyFlox commented on #206
@HBDK, as mentioned above, I've quickly put up together a rock-on based on the official image. Feel free to give it a test and see if it fixes your issue(s) and whether it works as intended. You can find it below:
https://raw.githubusercontent.com/FroggyFlox/rockon-registry/26bb179792704815ed95820f9ef0fb27cc269a0f/duplicati2-canary-official.json

Hope this helps,

[2019-11-28 06:20] HBDK commented on #206
Just looking at the json I will have to say that that is not a suitable replacement, you would need to map a folder to /config instead of data.
I would rather not switch my own duplicati back to a rock-on (switched to docker compose right before I opened this issue) but I might be able to find time to make a test in a VM and make a pull request with a suitable json file.

[2019-11-28 06:22] HBDK commented on #206
Sorry disregard my comment about the file you provided I assumed it was the linuxserver io image not the official image.

[2019-11-29 14:26] FroggyFlox commented on #206
No worries, @HBDK. I hope your issue(s) with it are now fixed. Are you using the Linuxserver.io image, and are you happy with it?

Would you have, by any chance, some feedback on the stability of the _canary_ vs _beta_ releases? Our current rock-on was targeting canary releases, but the beta ones are (understandably) recommended by their image's documentation so I was curious in case you had tried

[2019-11-30 08:38] HBDK commented on #206
i think they will be, one of the issues i have had with the old contianer was that it was updated inside the contianer, so if you for some reason had to recreate the contianer you would get an old version of the software that was unable to read the config db and therfor not start, but that doesn't seem to be an issue with the linuxserver.io image.

that being said the old also stored the config in

[2019-11-30 15:24] FroggyFlox commented on #206
Thanks for pointing it out... we may want to detail in the `"more_info"` field the recommended update procedure in this case (not using Duplicati UI, but proceed with Uninstall > Re-install rock-on).

Agreed. That's why I tend to like the Linuxserver.io images... @phillxnet, I'll probably switch from the official to the Linuxserver.io image as they both offer the same versions and features, but th

[2019-11-30 16:22] FroggyFlox commented on #206
After a quick test, it appears the Linuxserver.io is our best choice:
1. Install our current Duplicati rock-on
2. Set a new backup to Google Drive
3. Run the backup once
4. Turn rock-on off
5. Install the Duplicati rock-on using the Linuxserver.io image, and using the same share used in step 1
6. The backup create in step 2 above was automatically detected and available.
7. Change the database pat

[2019-11-30 17:30] HBDK commented on #206
Cool! by the way on the Canary vs beta thing, i think we should stick with beta (i think it is default in the linuxserver.io image) since as far as i can tell canary is only for development.

it might also be a good idea to add a short description on how to map shares into this container as well since that is probably going to be relevant for most people who would like to use this container.
i per

[2019-12-01 04:13] FroggyFlox commented on #206
@HBDK, I've now created a PR using the Linuxserver.io image: #207.

Feel free to have a look and test if you'd like, it would be much appreciated!

Thanks again for bringing attention to this.

[2019-12-02 11:08] #206 closed

[2019-12-02 12:02] phillxnet commented on #206
@HBDK @FroggyFlox Just noting here for convenience that @FroggyFlox's pull request has now been merged and published.

We can see how this beta offering goes and hopefully move over to a stable offering once that become viable.

Thanks to both of you for your efforts on this one. Duplicati looks like an excellent application in our context and it's good to have moved this over to our newer format

[2020-01-15 02:53] guppy0130 opened #208 "bitwarden-rs image moved"
Bitwarden_rs image moved from [mprasil/bitwarden](https://hub.docker.com/r/mprasil/bitwarden/) to [bitwardenrs/server](https://hub.docker.com/r/bitwardenrs/server).

[2020-01-22 20:34] DarkYamik commented on #180
Hello guys!

I am currently working on the implementation of Nginx Proxy Manager to Rockstor. Right now I managed to make it work directly via docker-compose but I think that it will be a nice Rockon.

I'll keep you posted!

[2020-01-25 12:05] DarkYamik commented on #180
Hello again!

I already have the rockon up and running!

I've just created the pull request in order to review it https://github.com/rockstor/rockon-registry/pull/211

For now is working fine in my Rockstor appliance

[2020-01-29 01:05] FroggyFlox commented on #180
@DarkYamik , @phillxnet , thanks again for taking care of this one.
I believe we can now close this issue ;).

Cheers,

[2020-02-06 02:14] FroggyFlox opened #212 "Update device object in HandBrake"
Thanks to @mikey0000 , we now have a working rock-on for HandBrake.

As detailed in the conversation in PR #210 , there is a remaining point to update. Indeed, the `"devices"` object, while working, could be misleading with regards to the hardware transcoding supported as it is referring to VAAPI while only Intel Quick Sync is supported by the image (as per [its documentation](https://github.com/j

[2020-02-06 02:18] FroggyFlox commented on #212
@phillxnet , @mikey0000 , I have the edits close to ready and will submit a PR accordingly soon.

[2020-02-07 19:17] #212 closed

[2020-02-08 14:27] #208 closed

[2020-02-22 19:11] tyukh opened #214 "Docker port values treated as int type instead of string"
Some docker images uses port values specified with protocol type i.e. something like that `-p 51413:51413/udp` (https://docs.linuxserver.io/images/docker-transmission) so it produce following error
[code]
json:
[code]

[2020-02-22 19:24] tyukh commented on #132
Maybe someone try .json-fy that image https://github.com/Nico640/docker-unms
I'm not in game, cause successfully used UNMS 'just run me' installer on Leap 15.1 with Rockstor-Testing as standalone service without Rockstor integration.

[2020-02-22 19:51] FroggyFlox commented on #214
Hi again, @tyukh , and thanks for bringing this up,
I'm currently on my phone so please excuse my brevity.

Have you tried using the optional "protocol" key for that? See below for description:
https://github.com/rockstor/rockon-registry/blob/master/README.md#port-object

[2020-02-22 20:12] tyukh commented on #214
My fault. Thanks a lot!  I used these options, but I did not correctly understand what they give as a result. It is probably worth adding an example of use in the form of example json-fragment and the resulting string.

[2020-02-22 21:20] tyukh commented on #214
The error went away when using the protocol key, but the result is not the same as I expected. The situation is as follows: it is necessary to map the settings of the container
[code]
to the json file. I assumed that this is how
[code]
would work, but in the interface it gives only one "Torrent port UDP" field. It turns out that first 51413 (Torrent port TCP) is ignored, and specifying the protoco

[2020-02-22 21:49] tyukh commented on #109
Such a Rock-on is in my short list. I hope ETA within month.

[2020-02-22 22:13] FroggyFlox commented on #214
That is indeed the expected behavior when the same port is defined twice as one overwrites the other. We actually shouldn't let that go in the JSON and should make sure we throw an error when that case is found in a JSON (in my opinion).

Now, onto what you need:
[code]
As docker maps by default to TCP when undefined (see [Docker doc](https://docs.docker.com/config/containers/container-networking/

[2020-02-22 22:53] FroggyFlox commented on #214
Sorry for the double post; I just realized I forgot to answer your other questions:

You are correct that this is the expected behavior as well as we then make sure to avoid conflicts with another used port on the machine. This is taken care by:
https://github.com/rockstor/rockstor-core/blob/c3a5c7448780d7fe2643233b4fae1c445f24c5db/src/rockstor/storageadmin/views/rockon.py#L130-L136
[code]

I agre

[2020-02-23 07:49] tyukh commented on #214
Thank you, now everything is clear. Although it seems to me that the best solution for greater predictability would be to reflect the docker approach: the protocol is not specified - TCP, the port number is not unique - the combination of port / protocol (composite key) is unique.

In my opinion, this function should look something like this
[code]

Below is an example (not mine) of checking ports

[2020-02-23 12:46] magicalyak commented on #109
Was hoping @StephenBrown2 would submit it but if he's not just submit it, it's easier to modify in the PR. Happy to help and make suggestions once you do.  Definitely link it back to this issue (just paste the link to this issue in a comment on the PR).

[2020-02-24 08:42] tyukh commented on #214
Another issue: if the rock-on was installed and then removed, then when reinstalling, the port values are substituted from the database and the ports are not checked for occupancy, although during this time the ports might already be occupied.

[2020-02-24 16:33] StephenBrown2 commented on #109
Sorry for the long silence, I haven't been running my RockStor server for a while now, but it doesn't look like much has changed, so I submitted my gist as #215 for review and merge.

[2020-02-29 12:54] #214 closed

[2020-03-17 16:49] Hooverdan96 opened #216 "Add RockOn for Postgresql version 9.x and up"
Create a RockOn json file that allows installation of Postgresql databases with versions 9.x and up. This would include the ability to declare the version required, a Super User/Password combination and an access port. The port is relevant to not interfere with the port set up that RockStor is already using (default port 5432).

[2020-03-17 21:03] Hooverdan96 opened #218 "Ability to specify image tag (for docker pull command) interactively"
Currently, images that rely on the tag for version control (during the docker pull command), require a separate json for each version, as the tag cannot be set up so the user can interactively maintain a value.
As an example, linuxserver provides quite a few repackaged images where the version is explicitly accessible via an environment variable instead of a docker tag (and hence nicely matching w

[2020-03-18 13:09] FroggyFlox commented on #218
Thanks a lot for taking the time and effort to write this issue @Hooverdan96 !

As mentioned in the linked issue, I completely agree with you and all you described here. The solution you propose is indeed very legible and intuitive from a user perspective. It's also relatively "simple" to implement, I believe.
When I first looked into this, I had something a lot more complex in mind in which we wo

[2020-03-24 18:24] phillxnet opened #219 "Folding at home Rock-on"
The long standing and recently re-famous Folding@home could use our help. I propose the addition of a linuxserver.io based Rock-on to allow Rockstor users to easily contribute spare CPU cycles to this outstanding project.

I am currently preparing a pull request for this proposed FAH Rock-on.

[2020-03-25 18:02] phillxnet commented on #216
@Hooverdan96 I've edited your linked pull request to close this issue. I know we have the outstanding:

element here that hasn't been addressed but we do have your:

"Ability to specify image tag (for docker pull command) interactively" #218

issue that addresses head on. Thanks again for your efforts at improving our Rock-on range and future capability.

[2020-03-25 18:04] #216 closed

[2020-03-25 18:08] #219 closed

[2020-03-25 19:10] phillxnet opened #221 "harmonise postgresql rock-ons."
We currently do not have the ability to select docker tag version during install, and this may not even be advisable in the case of postgres Rock-ons anyway, given users may expect to simply re-install and use the same db data share. So for the time being we have community submitted PostgeSQL rockons for:
v9.5
v10.6
Harmonise the latter which informed the former so they are at least more similar p

[2020-03-25 20:40] #221 closed

[2020-04-04 14:14] holmesb opened #223 "Postgres v10.6 is actually v12"
I won't profess to be a rockon expert, but somehow the [tag ](https://github.com/rockstor/rockon-registry/blob/37fd972d7828decac95edde973118e259124b06c/postgres-10.6.json#L12)isn't causing this version to be pulled.

A `docker inspect <container>` gives:
[code]

I'm using rockstor 3.9.2-48

[2020-04-04 15:11] FroggyFlox commented on #223
Hi @holmesb,

I believe the answer lies in your Rockstor version:

Indeed, we have had several improvements directly related to using different tags for the same docker image since 3.9.2-48. In particular:
- Rockstor 3.9.2-49: https://github.com/rockstor/rockstor-core/releases/tag/3.9.2-49
  this one includes the following PR of interest: https://github.com/rockstor/rockstor-core/pull/2016
- Rocks

[2020-04-04 15:57] holmesb commented on #223
Hi @FroggyFlox I suspsected as much.   After I switched from stable to testing, it's unclear how I can force the update to start.  Must I wait for the next scheduled update event to occur?  Version has changed down to 3.9.2-1.

I also can't access the rockon page now `Unknown internal error doing a GET to /api/rockons?page=1&format=json&page_size=5000&count=`  but perhaps that will fix itself afte

[2020-04-04 17:15] phillxnet commented on #223
Hello again @holmesb, I see you have posted this up/down grade issue in the forum. I'll link to that and pick it up there.

https://forum.rockstor.com/t/cant-activate-stable-local-variable-appliance-referenced-before-assignment/6933

[2020-04-07 06:55] holmesb commented on #223
Upgrading rockstor to latest version per @FroggyFlox's suggestion has fixed.  Thanks also to @phillxnet helping me upgrade.

[2020-04-07 06:55] #223 closed

[2020-05-26 13:12] phillxnet commented on #7
Closing as fixed by commit: 8fd4bf8e36906ee6ee858b227aac9d4c6e351c2f

[2020-05-26 13:12] #7 closed

[2020-06-13 15:32] FroggyFlox commented on #180
Closing as fixed by #211

[2020-06-13 15:32] #180 closed

[2020-06-27 04:40] mcbridematt opened #228 "Discourse addon references obsolete/unavailable container"
In the course of identifying Rockon's that do not support arm64 (see https://github.com/rockstor/rockstor-core/issues/2191 ), I found that the Discourse addon refers to an obsolete image:

[code]

No image tag is specified in the Rockon so Docker would try to use discourse/discourse:latest which no longer exists.

The image referenced ( https://hub.docker.com/r/discourse/discourse ) has been repla

[2020-06-27 11:20] phillxnet commented on #228
@mcbridematt Thanks for this. Linking to a related issue in rockstor-core indicating the launcher tool issue and our need to 'special case' this Rock-on:

https://github.com/rockstor/rockstor-core/issues/2033

We also have it's linked issue in this repo here:
https://github.com/rockstor/rockon-registry/issues/185

So this issue looks like a duplicate of #185 above. Could you add your findings that

[2020-06-29 12:10] mcbridematt commented on #228
Is indeed a duplicate of #185 - apologies.
This was originally going to be an 'omnibus' issue with other containers that have been removed from Docker Hub but it turns out Discourse was the only one once tags were considered.

[2020-06-29 12:10] #228 closed

[2020-06-29 12:16] mcbridematt commented on #185
As noted in #228, it is not possible to pull "discourse/discourse" anymore as the default ":latest" container has been removed from Docker Hub.

[2020-06-29 15:58] phillxnet commented on #185
@mcbridematt Thanks for the update here. I'm moving more towards just removing this rock-on entirely actually as given it's broken now and the work to re-intergrate it is non trivial I move to us removing it. Quick and better all around. Me and @FroggyFlox have been intending to do a bit of Rock-on house keeping in like with just removing all obviously broken Rock-ons anyway. Anyone interested eno

[2020-07-18 14:52] MikeMcPherson commented on #71
I have a Minio Rock-on working and would like to submit it.  Should I piggyback on this issue or start a new one?  Thanks!

[2020-07-18 15:36] FroggyFlox commented on #71
Hi @MikeMcPherson ,

Thanks a lot for willing to share your rock-on! Personally, I would recommend creating a new issue for it as this one was mostly related to command arguments and not Minio-specific; this would thus help keep things tidy. Feel free to link to this one if you'd like to keep things connected.

Thanks again and let us know if there's any other question you may have. We tried to ma

[2020-07-21 14:29] MikeMcPherson opened #231 "Add Minio Rock-on"
Minio is an open source, S3-compatible object storage server.  Many systems and services support S3 as a back-end data store.

This Minio Rock-on uses the official Minio Docker image to implement a single Minio instance with a single Rockstor share for object storage.  I believe this configuration will be suitable for use on a private network, for personal backup on a home network, for example.

I

[2020-07-21 15:49] MikeMcPherson commented on #231
What's the best way to let people know that this Rock-on will only work on a version of Rockstor with Docker command argument support (looks like 3.9.2-39 or later to me)?  It will not work with the ISO; I actually butted my head against that one on the dev server I created to test this Rock-on.  A non-developer will never figure it out and will just give up.  Any chance of updating the ISO to a m

[2020-07-21 16:06] FroggyFlox commented on #231
@MikeMcPherson ,

So far, I would say the best way is to state it in the `"description"` object of the json file. I believe we recently did the same thing for another rock-on I believe. You do bring up a very important point, however, and we could implement a way to automatically "disable" a rock-on for users who are running an incompatible version of Rockstor. We currently have a `"version"` obje

[2020-07-21 16:44] MikeMcPherson commented on #231
Yeah, I saw the 4.0 appear as I was submitting the PR this morning.  Congratulations!

I like the idea of having a minimum required Rockstor version in the Rock-on JSON.  I would be tempted to keep the current "version" to refer to the Rock-on and add a new optional object for the Rockstor required minimum version.  It looks like a few people are versioning their Rock-ons, and I see a couple of ve

[2020-07-21 18:00] FroggyFlox commented on #231
I agree with you with regards to the "version" object. I have to admit that I'm not sure what the original intent was with it, but I do believe it was meant to refer to the rock-on version indeed.

You can go ahead and include this in your PR once you submit it (I cannot see it yet). You can find instructions in our documentation if needed (link below). Of course, don't hesitate to ask here if any

[2020-07-21 19:41] MikeMcPherson commented on #231
Thanks for the help.  This morning I followed the six steps at http://rockstor.com/docs/contribute_rockons.html.  I ended up with a PR in my own fork.  I just did it again following the directions at https://github.com/rockstor/rockon-registry/blob/master/README.md and I think it worked this time.

[2020-07-26 11:05] MikeMcPherson commented on #231
If I did everything correctly, there should be pull requests pending for both the Rock-on and the write-up.  Please let me know if I've missed anything.

[2020-07-26 12:51] magicalyak opened #233 "watchtower update needed"
The watchtower rockon should point to https://hub.docker.com/r/containrrr/watchtower as the link has been updated for github and dockerhub.  It is the same image but we're pointing to a deprecated link.

[2020-09-02 20:08] lexxad opened #236 "Netdata causing undesired AppArmor behavior"
Upon installing Rockstor 4.0.1.0, enabling and configuring Rock-On service and installing the Netdata rockon the following appears cyclically on the console and in dmesg:

[code]

The rate is about one cycle od messages per second

The installation of Rockstor was performed by an image (OpenSUSE 15.2) created by kiwi-ng.
Upon check AppArmor and auditd are either disabled (apparmor) or not present

[2020-09-02 20:38] FroggyFlox commented on #236
Thanks a lot for creating this issue and your report, @lexxad!

As mentioned in the forum, this highlights our need to update our Netdata rock-on definition:
- use the official netdata/netdata image
- use appropriate `--security-opt` settings
- minor updates related to volume binding

I'll take care of it as soon as I can.

[2020-10-01 00:02] Hooverdan96 commented on #113
Hi, I have built a newer Rockon for the lms, which is based on the recent 8.x versions. I have selected a fork from the larsks/logitech-media-server built, because it gets updated more frequently (apnar/logitech-media-server). It also separates the config/cache/ media shares from the container. I can submit a pull request for that.
Only thing is that it requires the net=host option, otherwise one

[2020-10-02 12:25] phillxnet commented on #113
@Hooverdan96 Hello again. Re:

That would be great. We do have a bit of a backlog unfortunately but I'm expecting that to clear shortly as we are close to getting our act together on 'capacity' re merging. More on that soon.

Yes, that is a tricky one. We have allowed this on the Plex Rock-on for similar reasons, and because of the extreme popularity of Plex. I say pop in the Pull request and we c

[2020-10-03 16:06] Hooverdan96 commented on #113
Thanks for the feedback. I will go ahead with the pull request. One more question, should I go for updating the existing rock-on (that runs on the 7.x branch) or should I create a new one that's starting to use the new 8.x path? Understood that the "old" version is not up to date anymore, but wondering whether it should be kept around for current users?

Thanks.

[2020-10-03 16:20] phillxnet commented on #113
@Hooverdan96 Great. Re:

I favour starting a fresh rock-on using a different name. That way we can phase out the old one and if folks really need it then they can pick it's definition up from git history as we will likely drop it soon anyway if it's not being updated, or with docker hubs new policies it may end up deleted and so not available anyway.

In your image selection are you taking into ac

[2020-10-03 17:04] Hooverdan96 commented on #113
You had to ask for the arm aspect, didn't you 😊?
The container I had picked does not have an Arm compatible build. I did find one that has all (amd64, arm and arm64) now (https://hub.docker.com/r/doliana/logitech-media-server), that seems to be pretty popular. I will experiment with that one, and if that works, I will drop that one in instead. Otherwise I will report back "why not". Eventually I a

[2020-10-03 19:15] FroggyFlox commented on #113
Yes, me too!

Nice find on the Arm64 compatible image. I noticed its documentation on Github stipulates it's only a test image based on a PR from the larsks/logitech-media-server image, but the latter is now archived and will thus never be merged and updated. Your image seems like the best one so far.

Thanks a lot for stepping up to this one, @Hooverdan96 !

[2020-10-13 00:11] Hooverdan96 commented on #113
@FroggyFlox,
while testing the new image, I realized that unlike the linuxserver.io images (a VERSION variable that's passed into the image, which then takes care of the installation of the corresponding version) I won't be able to specify a version during the installation.
Is there a way to surface the tag in the UI during the installation?
This image is using the conventional approach for versio

[2020-10-13 02:55] FroggyFlox commented on #113
Not at the moment but that is something that has been brought up earlier and I personally really like the idea. I personally will not be able to attend to that any time soon but I believe this is something we definitely need in the future, yes. See the comment below where this was brought up:
https://github.com/rockstor/rockon-registry/pull/190#issuecomment-528581468

As you can see, this was need

[2020-10-13 15:53] Hooverdan96 commented on #113
Right, I remember now having that discussion. I guess, at this time the latest stable version would be to use "latest-7.9.4", and then an update to the latest one once it's considered stable should be rather quick (if we stay on the same docker image). Longer term I hope we'll get Linuxserver.io to provide one and then the version is likely parameterized (if other images are any indication).
Thank

[2020-10-15 00:09] Hooverdan96 commented on #113
#238

[2020-10-15 00:19] Hooverdan96 commented on #113
A couple of comments on this Pull Request:
1) I decided to go with the latest 7.9.4 release at this time, as I observed some instability with the 8.0 branch (that one seems to be more like the alpha branch still). If this RockOn version is accepted, and the 7.9.x version increases, I can quickly change the tag and push again at a later point. If the development and release focus switches to 8.x in

[2020-10-22 21:33] #231 closed

[2020-10-28 01:33] Hooverdan96 commented on #233
I created a Pull Request for this - as suggested just replacing container and updating the description a bit. The official image also supports the ARM architecture.

[2020-11-01 15:50] FroggyFlox opened #240 "Sickrage image is deprecated"
The linuxserver/sickrage image we are currently using for the Sickrage rock-on is now listed as deprecated on its docker hub page and has not been updated for over a year. The docker hub page reads:

Information on SickChill:
- Docker hub: [https://hub.docker.com/r/linuxserver/sickchill](https://hub.docker.com/r/linuxserver/sickchill)
- Image Github page: [https://github.com/linuxserver/docker-sic

[2020-11-02 20:48] phillxnet commented on #240
@FroggyFlox Nice find.

I think I would favour 1 as it then provides continuity of existing function for our existing users. There are potential issues around such Rock-ons but these vary country to country and as we are global it's a local decisions of the user doing the install.

[2020-11-03 01:24] Hooverdan96 commented on #240
I second the option 1 proposal ... looks like there was a trademark/powerplay going on and sickrage apparently rebranded itself to sickchill, so I think the likelihood of it being a drop-in replacement is fairly high. Comparing the json file to the new Linuxserver.io image, it seems the only difference (addition) is the timezone mapping ... not sure whether the old image had that option as well, o

[2020-11-05 16:40] FroggyFlox opened #241 "Sickbeard image seems unmaintained"
Similar to #240 , it appears that the Sickbeard image is not maintained anymore:
- the last update to the docker image was 3 years ago: https://hub.docker.com/r/linuxserver/sickbeard/tags
- the last commit on the github project page referred to by sickbeard.com dates from March 2016: https://github.com/midgetspy/Sick-Beard/

Given several other alternative projects exist, we probably should deprec

[2020-11-05 18:08] Hooverdan96 commented on #241
I would agree, it looks like Sonarr is the "replacement" for this for which we already have a RockOn that's relevant.

[2020-11-09 16:21] FroggyFlox commented on #241
Thanks for the information, @Hooverdan96 !

Let's go ahead and deprecate the Sickbeard rock-on in this case... feel free to go ahead and submit the PR if you feel like it ;) It should simply need to delete the .json file and remove its entry in `root.json`. You can have a look at #200 if you want.

Let me know if you don't have time or interest in it and I'll take care of it. No rush, of course ;)

[2020-11-11 21:26] #241 closed

[2020-11-12 19:04] #113 closed

[2020-11-13 02:30] Hooverdan96 commented on #240
@FroggyFlox - I created a pull request for adding the SickChill image - it pretty much dropped right in as a replacement, but I created a new json file and pepped up the descriptions/instructions.

[2020-11-15 21:16] Hooverdan96 commented on #233
@FroggyFlox. As discussed, following the new approach:
1. create pull request to introduce the official image of the Watchtower Rock-on - see above pull request #247
2. subsequent pull request will deprecate the unmaintained version. I can link it to this issue, or create a separate one.

[2020-11-17 16:10] #233 closed

[2020-11-17 16:13] FroggyFlox commented on #233
@Hooverdan96 , I just merged your PR #247 , so you can go ahead and take care of deprecating the now old "Watchtower" rock-on.

Cheers,

[2020-11-17 16:35] #240 closed

[2020-11-17 16:38] FroggyFlox commented on #240
@Hooverdan96 , as you probably saw already, I merged your PR #245 , so feel free to take care of deprecating the SickRage rock-on if you'd like to.
Of course, let me know if you can't and I'll take care of it.

Thanks again for all your help!

[2020-11-17 17:48] Hooverdan96 opened #248 "Deprecate old Watchtower Rock-on"
Continuation of issue #233
Since we now introduced the Watchtower Rock-on based on the official container, we can deprecate the legacy version we had so far, which uses a docker image that appears to be unmaintained.

[2020-11-17 18:13] Hooverdan96 opened #249 "Remove deprecated Sickrage image"
Follow-on to #240 .
Now that SickRage has been replaced by its successor SickChill as a Rock-on we can deprecate the SickRage Rock-On

[2020-11-18 20:47] #248 closed

[2020-11-18 21:00] FroggyFlox opened #253 "Remove deprecated image: Cardigann"
Our current rock-on for Cardigann uses the Linuxeserver.io image https://hub.docker.com/r/linuxserver/cardigann.

Of note, the image has not been updated in 9 months, and the docker hub image documentation states it is now deprecated:

As we can see, they recommend using linuxserver/jackett, for which we already have a rock-on. It thus appears we can safely deprecate this rock-on.

Any thought fro

[2020-11-18 21:29] FroggyFlox opened #254 "Remove deprecated image: Koel"
Our rock-on for the lightweight music streamer Koel is unfortunately not present in docker hub anymore:
[code]

We thus need to deprecate it.

[2020-11-18 21:30] FroggyFlox commented on #254
For alternative, there seems to be another image, recently updated, with 100K+ pulls, but that one would need some database linking that should be facilitated by https://github.com/rockstor/rockstor-core/pull/2207:
https://hub.docker.com/r/hyzual/koel

This could be interesting to keep in mind once/if this linked PR is merged.

[2020-11-18 21:38] FroggyFlox opened #255 "Remove deprecated image: Plexpy"
The linuxserver/plexpy image is now deprecated; the docker hub page reads:

It thus recommends to use the Tautulli project instead, which seems to be able to be a drop-in replacement.

[2020-11-18 21:41] FroggyFlox opened #256 "[New rock-on] Tautulli"
As described in #255 , we should create a new rock-on for the Plexpy replacement: Tautulli:

main website: https://tautulli.com/
docker hub: https://hub.docker.com/r/linuxserver/tautulli

@phillxnet , as all Linuxserver.io images, it supports multiple architectures and is regularly maintained/updated.

[2020-11-18 21:42] FroggyFlox commented on #255
We should try to resolve #256 first before addressing this issue.

[2020-11-18 21:53] FroggyFlox opened #257 "Remove deprecated image: TFTP-server?"
Our TFTP-server rock-on uses an image that was last updated 4 years ago. Would anyone have confirmation whether or not this image still works?

I believe the netboot.xyz proposed in #234 includes a tftp server so it could potentially be used as an alternative once merged.

[2020-11-19 00:37] Hooverdan96 commented on #256
@FroggyFlox I will take a look at setting one up.

[2020-11-19 15:37] #249 closed

[2020-11-19 17:21] Hooverdan96 commented on #256
@FroggyFlox - I actually found the official container: https://hub.docker.com/r/tautulli/tautulli
It supports multiple architectures
The one thing I see is that in order to update that container it requires a stop/remove container/pull/restart process, which I believe Rockstor doesn't support at this time (unless watchtower is utilized). The Linuxserver server image for tautulli also requires watc

[2020-11-19 18:30] phillxnet commented on #256
@Hooverdan96 Re:

I'm pretty sure we already cover this and have just found a forum post by @FroggyFlox on the same:
https://forum.rockstor.com/t/plex-from-official-image/5676/3
containing the following GitHub references.

https://github.com/rockstor/rockstor-core/blob/33917f112011d13e702633f525f2afdc0de78238/src/rockstor/storageadmin/views/rockon_helpers.py#L186-L187

@FroggyFlox may correct me o

[2020-11-19 18:44] Hooverdan96 commented on #256
Ah yes, I now remember coming across a forum thread a while ago on this in the context of the official Plex Rock-on. And, yes, the official Tautulli image works just fine without explicitly calling out the TZ variable. I now tested with the official image, and all seems to be fine. I will create a pull request for this.

[2020-11-20 18:41] Hooverdan96 opened #260 "Zoneminder 1.29 Rock-on: underlying image is deprecated"
When checking the github repo as well as the docker image, they both show as deprecated (https://github.com/aptalca/docker-zoneminder/tree/v1.29 and https://hub.docker.com/r/aptalca/zoneminder-1.29).

Since we have two newer versions, that are maintained, I would propose to remove this Rock-on from the registry.

@magicalyak I assume, the version you created for Zoneminder 1.30 still works/is acti

[2020-11-25 17:36] Hooverdan96 opened #262 "Update Rock-on Readme to highlight process for changing existing Rock-ons"
@FroggyFlox - I think it would be a good idea to add your findings to the contribution section of the Rock-on readme with respect to making changes to existing Rock-ons.
Maybe something to the effect that if the underlying docker image is changed (due to deprecation or moving from unofficial to official image, etc.) the process has to be to create a new Rock-on and, if applicable, deprecate the ol

[2020-11-27 15:00] FroggyFlox commented on #262
Hi @Hooverdan96 ,

That is a very good idea, and one that will help everybody.

I agree with your suggestion:
- create a new rock-on if no rock-on already exists for the project of interest
- create a new rock-on if a rock-on already exists for this project but the proposed rock-on will use a different image. In this case, it is advised to deprecate the old one
- do not create a new rock-on but up

[2020-11-28 20:28] Hooverdan96 commented on #262
May be a small section before the "One Time Setup" right after the "How can I add my own app". The title could be something like:
"What Do I have to consider before adding or updating a Rock-on?" And then list the best practices above like you have done in other areas.

[2020-12-12 19:41] FroggyFlox opened #264 "Deprecate Netdata rock-on"
As explained in #237 , we need to first deprecate the current Netdata rock-on before adding a new rock-on using the official Netdata image.
I'm opening this issue to formally track this.

[2020-12-12 19:48] #264 closed

[2020-12-15 15:37] #236 closed

[2021-01-31 13:46] phillxnet commented on #185
@FroggyFlox I've just noticed this issue again.

Lets just remove this rock-on. It's currently broken anyway and given the info in this issue, and the lack of feedback we've gotten on it's failure it won't be missed. Plus the non trivial effort to support it's 'special' nature is not currently within our scope. We can, as stated earlier, leave the rockstor-core element as a guide for anyone wantin

[2021-02-19 22:06] thedrjones opened #273 "Consider removing deprecated image: linuxserver/hydra"
The linuxserver/hydra image is now deprecated; the docker hub page reads (in the Application Setup section):

    THIS IMAGE HAS BEEN DEPRECATED.
    Please use linuxserver/nzbhydra2 instead.

It recommends the updated NZBHydra2 instead, there is an older version of this available to migrate old V1 data, but latest image does not support this migration on newer versions, so users probably need to

[2021-02-23 15:28] #256 closed

[2021-02-23 16:10] FroggyFlox commented on #255
Now that #259 has been merged (thanks to @Hooverdan96!), this issue can be addressed.

[2021-02-25 14:36] ianlester7 opened #275 "Add Automatic Video Conversion options for Handbrake"
Hi @FroggyFlox,

I haven't been able to update the settings from the Handbrake UI which is why I'd made this change originally. It is possible to change the settings when you run a conversion manually but obviously that's a lot less useful than just copying the files over and forgetting about them.

I definitely agree about keeping config options to a minimum, ideally they would be optional (possi

[2021-02-25 14:43] ianlester7 commented on #275
Created issue https://github.com/rockstor/rockon-registry/issues/275, I don't see to be able to link it though...

[2021-03-12 20:26] #275 closed

[2021-03-16 17:56] FroggyFlox commented on #273
@thedrjones ,

Noting here for reference that now that your PR #272 has been merged, we should address this one in the near future.

[2021-03-16 20:33] Hooverdan96 commented on #255
@FroggyFlox, @phillxnet,
since we have multiple Rockons to deprecate, would it be better for you to do them all at once (for the next Rockon release), since it involves removing entries from the central root.json file that is involved with any new Rockon pull request? That way you don't have to reconcile all of them as you merge the various new/changed ones?
And/or should we combine multiple depre

[2021-03-17 16:37] Hooverdan96 opened #278 "Add HDHomeRun DVR engine Rockon"
HDHomeRun Tuners can record (with a valid subscription) live tv using a separate DVR engine that can be installed under windows or Linux. This makes a good Rockstor Rockon to add broadcast TV recordings to one's media library.

[2021-03-17 21:57] Hooverdan96 commented on #257
Here could be an alternative, that has been updated a few times - and if the container is rebuilt occasionally, then the latest version of tftp-hpa will be pulled.
https://hub.docker.com/r/3x3cut0r/tftpd-hpa
and the documentation here (the github repo seems to be relatively active)
https://github.com/3x3cut0r/docker/tree/main/tftpd-hpa

The last tftp-hpa package update was in May-2020, so the imag

[2021-03-17 22:15] Hooverdan96 opened #281 "Summary of deprecated Rockons from open issues list"
Keeping a recent list of Rockons that should probably be cleaned up (and replaced where still applicable) based on current open issues:

- [x] NZBHydra - rockstor#273 - replaced with NZBHydra2
- [x] ZoneMinder - rockstor#260 - 1.29 image unmaintained - replaced with ZoneMinder - latest
- [x] ZoneMinder-1.30 - rockstor#260 - replaced with ZoneMinder - latest
- [x] TFTP Server - rockstor#257 - image

[2021-03-19 11:25] phillxnet commented on #281
@Hooverdan96 This is some valuable work here. I'm super keen to clear out as many non functional or deprecated / abandoned Rock-ons as possible. Especially as we move towards the new 4 release. @FroggyFlox is master of Rock-ons so I'll defer to his say on this one. But I'm certainly game for a block removal of Rock-ons to get things in a better shape. We have had a number of reports of broken / ol

[2021-03-19 17:42] Hooverdan96 opened #282 "Logitech Media Server (Squeezebox) - upgrade to latest stable"
The underlying docker structure has been adjusted to offer the latest stable build under the "latest" tag (has now entered the 8.x version). Replacing the current version 7.9.4 with a new one would be advisable. Based on past discussions, it should be introduced as a new one (especially, since the current specifies a version in its title, and the old one should be deprecated.

Adding additional in

[2021-03-21 15:18] FroggyFlox opened #285 "Update Home Assistant rock-on to latest recommended settings"
As reported by our forum user **MainrtNr5**, our Home Assistant rock-on needs some updating due to some limitation when using a share not-owned by `root`:
https://forum.rockstor.com/t/beta-cant-access-certain-rock-on-ui-opensuse-leap-linux-5-3-18-lp152-66-default-4-0-6-0/7706/5

In addition to fixing this (by removing the `"uid"` instruction in our json definition, we might also stick to the proje

[2021-03-22 15:55] Hooverdan96 commented on #285
With respect to the non-root user running/configuration shares, there seems to be an "add-on" option, but it does require a bit of pre-work. Check this out: https://github.com/tribut/homeassistant-docker-venv

The challenge will be that we either need two Rockons (one with above standard settings pointing out the root user dilemma and one with the extended ones that allow for PGID/PUID definition

[2021-04-15 19:49] #262 closed

[2021-08-03 07:28] jurijzahn8019 opened #288 "Support for port ranges"
Hi,

is there a way to support port ranges in port definitions?

as required here https://hub.docker.com/r/doitandbedone/ispyagentdvr container want map port range `50000-50010/udp`

But at the moment there is no way but to hardcode this in the "container.opts"

thanks in advance

[2021-08-03 10:49] phillxnet commented on #288
@jurijzahn8019 This question would be better posed on our forum:

https://forum.rockstor.com/

All our currently active developers as also forum members. Plus there are now quite a few forum members who have also contributed or helped with contributing new rock-ons.

Thanks.

[2021-08-03 10:50] jurijzahn8019 commented on #288
Ok, cool

[2021-08-03 10:50] #288 closed

[2021-08-03 11:01] phillxnet commented on #288
@jurijzahn8019 It may be that we have some improvements to be made in this area (most likely) and in which case these can be discussed first on the forum and then a focused GitHub issue can be created for that improvement. And given this repo is just the Rock-on definitions the the likely location for an improvement in how the Rock-on definitions are processed would be our:
https://github.com/rock

[2021-10-13 14:40] FroggyFlox commented on #281
Hi @Hooverdan96,

I just now realized I never followed-up on your work here; please accept my sincere apologies as that was probably a lot of time needed to summarize all this information. I really dropped the ball here and should have let that one slip out of my mind.

I completely agree with you and @phillxnet and believe we should simply deprecate all these in a single PR as that would be a lot

[2021-10-28 15:19] Hooverdan96 opened #295 "Rockstor not visible in Windows Network Folder - add new Rockon for Web Services Discovery enablement"
With Windows discontinuing older NetBIOS protocols, Linux servers running Samba are typically not visible anymore in Windows network folder. A rockon that encapsulates a wsdd daemon (based on the implementation of wsdd here https://github.com/christgau/wsdd) would be useful and then doesn't require an OS level installation on the Rockstor appliance.

[2021-11-18 15:00] RlndVt opened #296 "Update Bitwarden_rs refernces to Vaultwarden"
The Bitwarden_rs project has been renamed to Vaultwarden. References and links to said project need to be updated.

[2021-11-18 15:16] RlndVt opened #298 "Vaultwarden alpine is not available for arm64"
Vaultwarden alpine is not available for arm64, for best compatibility use the 'normal' latest tag.

Alternatively offer a Vaultwarden and a Vaultwarden-alpine Rockon solution.

[2021-11-18 18:04] phillxnet commented on #296
@RlndVt Thanks for creating this issue and stepping up to the task. Much appreciated.

Linking to your sister issue in the rockstor-docs repository:
https://github.com/rockstor/rockstor-doc/issues/318

[2021-11-18 18:17] phillxnet commented on #298
@RlndVt Thanks again for reporting a nice catch. We definitely favour also having arm64 compatibility where ever possible.
See: https://github.com/rockstor/rockstor-core/issues/2191
"[arm64] Discourage or prevent installation of Rockons that are not available on the machines architecture"

@FroggyFlox When/if you get time. Your input would be appreciated on this one - as always. No worries otherwi

[2021-11-23 15:55] phillxnet commented on #185
I am currently working on this issue.

[2021-11-23 16:10] phillxnet commented on #185
Closing as:
Fixed by #299

[2021-11-23 16:10] #185 closed

[2021-11-23 18:01] phillxnet commented on #281
@FroggyFlox @Hooverdan96 I've now removed the discourse rock-on and have edited this issues original text accordingly.
Although the changes to the repo have not yet been pushed to procution. @FroggyFlox I thought it best to await a few more changes before doing this. Maybe some more rock-on removals as per this issue?

[2021-11-24 02:34] FroggyFlox commented on #281
Thanks a lot, @phillxnet !

Yeah, I tend to prefer to combine a few merges together so that users don't have to always click on the "Update" button in their web-UI repeatedly.

[2021-11-24 12:59] phillxnet commented on #281
@FroggyFlox So am I correct in thinking that we can simply remove all the remaining Rock-ons specified here by @Hooverdan96 ?
In which case I can jump on that one and we can get this issue sorted.

[2021-11-24 13:11] FroggyFlox commented on #281
Yes, that was my latest thought on it, indeed. @Hooverdan96 was careful in picking these and I agree with all the points/justifications they made in selecting those.

[2021-11-24 13:24] phillxnet commented on #281
@FroggyFlox @Hooverdan96 Thanks.
OK, I'll assign myself and see to this later today before jumping back on my current docs mission.

[2021-11-24 14:10] phillxnet commented on #281
I am currently working on this issue.

[2021-11-24 15:03] phillxnet commented on #254
@FroggyFlox I'm addressing the removal of this Rock-on via #281 but you noted a reference to a core pr of yours that is now merged and a new image https://hub.docker.com/r/hyzual/koel.
I'll continue to remove the existing one and if need be we can open a new issue to address adding in a replacement to the indicated alternative image as it was updated only 9 days ago so that looks to be promising.

[2021-11-24 15:51] #253 closed

[2021-11-24 15:51] #254 closed

[2021-11-24 15:51] #255 closed

[2021-11-24 15:51] #257 closed

[2021-11-24 15:51] #260 closed

[2021-11-24 15:51] #273 closed

[2021-11-24 15:51] #281 closed

[2021-11-24 15:59] phillxnet commented on #64
Closing as relevant rock-on has now been removed in #300

[2021-11-24 15:59] #64 closed

[2021-11-24 16:04] phillxnet commented on #93
This issue and it's sister BareOS proposal have had not further attention. Closing in favour of focusing on the seemingly more natural fit of BareOS.

[2021-11-24 16:04] #93 closed

[2021-11-24 16:08] phillxnet commented on #91
@FroggyFlox Re:

It would seem we now have GitHub actions for this?

[2021-11-24 16:15] FroggyFlox commented on #91
Do we?
Now that I'm more familiar with Github actions I think I saw a way to achieve this a little while back but never got to tackling it... It might be worth having another look, indeed. I think the "difficulty" would be to retrieve the json file(s) of the PR and then pass this to a json linter; note that there are documented ways to do that so it would "only" be a matter of retrieving these.

I

[2021-11-24 16:40] #147 closed

[2021-11-24 16:41] #179 closed

[2021-11-24 16:52] phillxnet commented on #285
@FroggyFlox & @Hooverdan96
I see our home assistant plugin as up-there with our Plex one. Is there something I can pop in with on this one?

[2021-11-24 16:55] phillxnet commented on #205
@Arderos and @Psykar It's looking very much like we can't get his one sorted within our current Rock-on ideal of not using --net=host except when absolutely necessary. It seems the consensus here is that it's too much just to allow Deluge.
The image is still current i.e. 15 days ago as last updated:
https://hub.docker.com/search?q=linuxserver%2Fdeluge&type=image

Closing as an unfortunate limitati

[2021-11-24 16:55] #205 closed

[2021-11-24 16:58] phillxnet commented on #188
Closing as a functional duplicate of #91. Sorry folks for the noise here.

[2021-11-24 16:58] #188 closed

[2021-11-25 02:04] Hooverdan96 commented on #285
Haven't thought about this for a while, since I don't use the HomeAssistant Rockon. I'll think about this, given a chance

[2021-11-25 12:04] FroggyFlox commented on #285
Thanks a lot, @phillxnet , for reviving this one; home assistant is definitely an important project to be available so we should figure that one out.

Thanks a lot @Hooverdan96 too with all your crucial input so far.

I see Linuxserver.io has a home assistant image with their usual PID/PGID mapping so I wonder if this one would fix the root/non-root problem.
https://hub.docker.com/r/linuxserver/ho

[2021-11-25 12:38] phillxnet commented on #285
@FroggyFlox Re:

Have just looked and we have the following.
[code]
But as per the likes of Plex this is to be expected really.

I say we take the plunge and move to the linuxserver image on this one. If nothing else but to shield us from some complexities / special treatment etc. I also think that homeassistant being one of the most popular projects on GitHub! is very important to have in our lib

[2021-11-26 03:50] Hooverdan96 commented on #285
I always liked the Linux server versions because they try to focus on usability. I would say we go for the Linux server version as they are continuing to update it. And I always favor that you can easily pass a User into it.
My 2 cents.

[2021-11-29 20:31] Hooverdan96 commented on #298
If I look at the changes (#297) tied to issue #296
the renamed Bitwarden to Vaultwarden is referencing the docker image from here:
https://hub.docker.com/r/vaultwarden/server

This image actually supports all architectures we desire:
<img width="924" alt="image" src="https://user-images.githubusercontent.com/35113775/143938350-36a110ec-4978-4b7c-a62b-796f457a0aac.png">
So, I think, once the descri

[2021-11-29 22:23] RlndVt commented on #298
#297 still reverences the 'alpine' tag, not 'latest', as that was the tag previously. Changing the tag to latest would indeed be a fix.

![IMG_20211130_072203](https://user-images.githubusercontent.com/1658570/143952056-f5c6281e-a044-466f-9cd9-552f6325db67.jpg)

[2021-11-30 03:49] Hooverdan96 commented on #298
@RlndVt nice catch, that I didn't even look at :).

[2021-12-13 16:44] FroggyFlox opened #302 "MinIO Rock-on web-UI cannot be accessed"
As originally reported by forum user benrw67, and further confirmed/detailed by @Hooverdan96, we have a failure to access the webUI of the MinIO Rock-on:
https://forum.rockstor.com/t/minio-rock-on-issue/8141

It seems that Docker image has changed how it works so we will probably need to adjust our Rock-on definition. The documentation reads:

... with a `docker run` example as follows:
[code]
It

[2021-12-13 20:53] MikeMcPherson commented on #302
I’ll look in to this as soon as I can. It may be tomorrow; today is pretty full…

[2021-12-14 18:24] #295 closed

[2021-12-15 15:20] MikeMcPherson commented on #302
I think this will be a simple fix.  It will take me longer to reconstruct my test environment than to make the fix... :-)  Busy week, so probably tomorrow.

[2021-12-15 16:05] Hooverdan96 commented on #302
Much appreciated Mike!

[2021-12-20 23:54] Hooverdan96 commented on #285
@phillxnet @FroggyFlox
Hi, since the last time we interacted on this, I bought a few smart plugs and started using Home Assistant with my hand-rolled json file :). This has been working for a few weeks now, so I figured, I might as well submit it to this issue.

I chose to add it as a new Rockon, so once accepted and/or released, we can deprecate the other one (or leave it in place, if there is st

[2021-12-21 14:25] phillxnet commented on #285
@Hooverdan96 Re:

That seems like the way to go to me. @FroggyFlox is more guardien of this repo thought. But what you've done seems like a nice way to go. This also leaves the way clear for folks to re-add the 'official' one once it's more friendly re root users or whatever. Plus the naming makes this new pr clearer on the docker origin. And we have the same elsewhere which is nice.

I'm keen tha

[2021-12-21 16:20] FroggyFlox commented on #285
Thanks a lot for keeping up-to-date with this one, @Hooverdan96 ; and my repeated apologies for my lack of reactivity lately...

I agree with you and @phillxnet: I think it's better to deprecate our current (official) one and add your LSIO one as a new Rock-on (as you did). It's easier for us and more transparent for users.

[2021-12-21 16:41] Hooverdan96 commented on #285
@FroggyFlox, would this deprecation go into another pull request, or should I take care of it in the one I have going with #303

[2021-12-21 16:44] FroggyFlox commented on #285
Good question... I'm always on the fence on that, but at the moment I would personally lean towards doing the deprecation in #303 as that limits risks of conflicts with `root.json`, for instance.

[2021-12-21 16:50] Hooverdan96 commented on #285
Ok, let's do it that way.

[2021-12-27 13:46] #296 closed

[2021-12-27 13:46] #298 closed

[2022-01-03 14:49] MikeMcPherson commented on #302
I'm finally getting back to this.  It turned out to be a little more complicated than expected.  I believe the fix requires specifying four arguments to be passed into the container.  The command as it arrives in the container should look like "server --console-address :9001 /data".  The Rock-on Profile documentation seems to say that the cmd_arguments array can consist of only a single pair of st

[2022-01-03 15:48] FroggyFlox commented on #302
Thanks a lot for all the effort, @MikeMcPherson!

I'm unfortunately short on time but wanted to provide some feedback:

That is a difficult one to implement, indeed, and I fear we do not have a way to do this automatically at the moment. The only thing I can think of is to explicitly mention in the webUI port description (tooltip) that the port MUST be set to 9001 for it to work. If he MinIO image

[2022-01-03 19:25] MikeMcPherson commented on #302
I had a similar thought right after I wrote my previous post.  [ ["server --console-address :9001 /data", ""] ] doesn't work; MinIO complains about an invalid command.  [ ["server", "--console-address :9001 /data"] ] *does* get passed into the container and accepted by MinIO, but MinIO doesn't recognize the option for some reason.  So, cmd_arguments problem solved (I think), but another one to cha

[2022-01-03 19:30] MikeMcPherson commented on #302
Regarding what I'm thinking of as variable substitution in Rock-on Profiles...  Bummer, that would be useful, but I can see how it ratchets up the complexity.  On a related note, is it possible to set the port numbers without prompting the user doing the Rock-on install?  If that were possible, then I could just force the standard ports.  If not, I might be able to accomplish the same thing using

[2022-01-03 19:35] FroggyFlox commented on #302
Yes, you definitely could put the `-p XXXX:XXXX` in the `"opts"`, but the problem is that Rockstor would not know that it needs to create a link to the webUI. We indeed use the `ports` key of the JSON for that:
https://github.com/rockstor/rockon-registry#port-object
[code]

That's why the solution I can think of at the moment is to define a port "exotic" enough not to conflict with another one so

[2022-01-03 19:43] FroggyFlox commented on #302
I just had a quick look at their doc and noticed a detail that could be useful; please accept my apologies if this is something you've already tried:
Their example uses the following arguments:
https://docs.min.io/docs/minio-docker-quickstart-guide.html
[code]

Besides the different order between the `/data` and `--console-address ":9001"` bits, I noticed the double quotes for the value of the `--

[2022-01-03 19:47] MikeMcPherson commented on #302
Thanks, I had seen that, and no apologies necessary.  I've tried it both ways, doesn't seem to make a difference.

[2022-01-03 21:53] FroggyFlox commented on #302
Curious indeed... I'll try to see if I can find some time to give that a try and report.

In the meantime, did you know you can turn on DEBUG mode if you are using an ISO or rpm Rockstor install?
[code]
and then you should be able to see `DEBUG` log statements in:
[code]
Among these DEBUG statement will be the `docker run ...` command when you install a Rock-on as was parsed/understood by Rockstor

[2022-01-03 22:22] MikeMcPherson commented on #302
Didn't know how to turn on debug, but was wondering.  Thanks!

[2022-01-04 21:10] MikeMcPherson commented on #302
More data points.  I wasn't getting anywhere with ["server" , "--console-address :9001 /data" ].  (As it turns out, MinIO will accept the port either quoted or not; it insists on the colon, oddly.)  It almost worked, but something funny is happening with string processing in between the Rock-on profile and the container.  I'll try to characterize it well enough to create an issue.

I decided to ha

[2022-01-05 04:10] Hooverdan96 commented on #302
yeah, it sees the command argument as one long string with a ' at the beginning and the end ', so it interprets it differently, compared to you breaking it out...

[2022-01-05 13:37] phillxnet commented on #302
@MikeMcPherson Thanks from me also for all your fathoming here.
Re:

This issue itself does that currently.

That would be great actually. And given it looks to be a short fall in our Rock-on json capability/parsing such an issue would belong in our rockstor-core repo:

https://github.com/rockstor/rockstor-core

Thanks again for pushing through this one. We definitely have some work to do in the R

[2022-01-05 14:03] MikeMcPherson commented on #302
Thanks!  I'll get started on a simple test and an issue.

[2022-01-24 15:48] mattthhdp opened #304 "make folder into the Docker folder ?"
![2022-01-24_10-45-59](https://user-images.githubusercontent.com/10604324/150815674-5568bea6-43bb-47bc-bd4e-47bc6cfc0c1b.png)

i would be more convenient to have a folder structure like this
![2022-01-24_10-47-54](https://user-images.githubusercontent.com/10604324/150815941-072d791e-b28e-43c5-a968-6ea30a420216.png)

[2022-01-24 18:10] phillxnet commented on #304
@mattthhdp It's actually recommended in our docs and in the tooltip (?) of each Rock-on install wizard at the point where you select a config and/or data share to use a unique one for each Rock-on.
Take a look at the docs here:

https://rockstor.com/docs/interface/overview.html

So in short you use one Rock-ons-root share for all the docker images which are etheirial anyway. Then you create a spec

[2022-01-27 17:58] Bruffandino opened #305 "Pi-hole not exposing DHCP server ports"
Pi-hole's DHCP server option is not working, I believe because the DHCP server port (68) is not exposed.

[2022-01-28 00:55] mattthhdp commented on #304
That make perfect sense, what i would like to have is, the ability to share 1 "docker-folder" with all services under it because some services (traefik, deluge ...) have some config that you need to modify. And with the way it is currently i have to make 1 share per service. It's ok but would be way more easy to copy the docker-folder to make a backup of everything underneath it.
thanks for the an

[2022-01-28 01:39] Hooverdan96 commented on #305
Could it be that you meant port 67/udp instead? According to the container documentation:
https://hub.docker.com/r/pihole/pihole and the wiki https://docs.pi-hole.net/docker/DHCP/

it seems that it requires port 67, not 68.

In any case, neither of these ports are exposed in the rockon at this time, you are correct.

If you want to test it, you could add another port to a copy of the corresponding

[2022-01-28 08:46] Bruffandino commented on #305
You are correct, it's port 67 indeed. That's not enough though, also the container's network mode needs to be changed in order for the DHCP server to be correctly exposed to the local network, as explained in the PI-Hole wiki. There are many options there, I'm not sure which one would better suit better a generic Rockstor installation.

I managed to make it work using --net=host mode, and specifiy

[2022-01-28 16:48] FroggyFlox commented on #304
Hi @mattthhdp,
Thanks for the clarification!
You might be interested to know that we have seen requests to implement something that would allow what you are describing; see for instance:
- https://github.com/rockstor/rockstor-core/issues/2258
- #95

Thanks a lot for bringing this up, then, as that further demonstrates the interest from our users for this feature! Rockstor's a community-driven proj

[2022-03-06 22:53] Termitebug opened #307 "Add Airsonic-advanced"
I propose mbirth/subsonic for replacement. If I have time at some point I will make a PR proposal.

[2022-03-07 09:35] phillxnet commented on #307
@Termitebug Thanks for opening this issue. Just looked and yes our existing image;
https://hub.docker.com/r/hurricane/subsonic/
Hasn't been updated for 4 years!!
But the replacement you suggest, although far more recent at 2 years old, is still way old. It is also only X86_64!

As per @mcbridematt  core issue here:
https://github.com/rockstor/rockstor-core/issues/2191

We are really trying to gain

[2022-03-11 17:46] Hooverdan96 commented on #307
Sorry for the delay. I took a quick look.
I think the reason @Termitebug is proposing the above as a drop-in replacement is that it uses the same share approach, separating them into:
`/subsonic` - Folder to store Subsonic's log, configuration and database.
`/music` - Default music folder.
`/podcasts` - Default podcast folder.
`/playlists` - Default playlists folder.

@Termitebug can you confirm?

[2022-03-11 17:54] Hooverdan96 commented on #307
one other comment, after starting to read more on this, it seems there is also an open source fork that's very similar to subsonic: airsonic. Though not sure whether that is even up for discussion, since I assume there is a dedicated subsonic user base that would not like this change. For airsonic linuxserver.io has released a multi-arch container with all the advantages (and disadvantages) that t

[2022-03-12 13:15] FroggyFlox commented on #307
I agree with you, @Hooverdan96 , it is my understanding that subsonic might deprecated even nowadays but as I'm not a user, this is mostly from hearsay. I'll try to find a proper answer to that.
If this is the case, we might thus prefer to deprecate our subsonic rock on and create one for airsonic.

[2022-03-12 14:16] FroggyFlox commented on #307
Following-up on my previous post:
The Arch wiki does indicate Subsonic as deprecated and points to its open-source fork Airsonic: https://wiki.archlinux.org/title/Subsonic

The Airsonic website, does provide some history and further information: https://airsonic.github.io/

[2022-03-12 17:38] phillxnet commented on #307
@Termitebug @Hooverdan96 @FroggyFlox
So given:

and

I'm in favour of this approach myself.

This way we give folks a way forward that is currently supported, and assuming there is a cross arch airsonic image that is currently maintained we also up our aarch64 showing at the same time. I'm also OK with dropping the subsonic relatively soon given it's now very old version and our old docker image.

[2022-03-29 14:24] MikeMcPherson commented on #302
My apologies for taking so long to get this fixed.  It turned out to be more complex than expected, and life threw me some family emergencies that consumed my attention for a while.  I think it is fixed now.

Good news, the official MinIO Docker image is now multi-arch.  I don't have a free Raspberry Pi 4 to test, and they're scarce as hen's teeth right now.  Perhaps someone with a Pi 4 sitting ar

[2022-04-06 15:34] phillxnet opened #309 "Standardise architecture compatibility reports"
We have yet to establish a proper arch compatibility element within our Rock-on config but we will, never-the-less, need a full run down on the current known compatibility. It is proposed that we, in the mean time, add to all Rock-ons their respective known architecture compatibility and standardise on:

"amd64" and "arm64" as we have many compatible but confusing references.

These too seem appro

[2022-04-06 17:59] #302 closed

[2022-05-02 12:36] MikeMcPherson commented on #302
Confirmed that the MinIO Rock-on also works properly on the Raspberry Pi 4.

Mike

[2022-05-03 09:15] phillxnet commented on #302
@MikeMcPherson Thanks for the Pi4 / ARM64 proof of function. Good to know we are working as expected on that front.

[2022-05-17 03:09] Hooverdan96 commented on #309
@phillxnet, @FroggyFlox my suggestion is to have two flavors of some formulation like this, that would always be at the end of the description of a Rockon:

<p>Based on the official docker image: <a href='https://hub.docker.com/r/kanboard/kanboard' target='_blank'>https://hub.docker.com/r/kanboard/kanboard</a>, available on amd64 and arm64 architecture.",

<p>Based on a custom docker image: <a hre

[2022-05-17 16:58] Hooverdan96 commented on #309
Hi again, I have started with updating some of the Rockon jsons. Do you prefer individual Pull Requests for each of them, or does it make sense for these cosmetic changes to keep them in one Pull Request (so I would keep adding to the #310 request, or delete this one and submit it all in one at the end)?

[2022-05-17 19:36] phillxnet commented on #309
@Hooverdan96 Thanks for picking this one up.
Re:

I say we do as many as you fancy tending to all in one pull request myself. But @FroggyFlox is more master of Rock-on proceedings so we could see what he thinks. As you say it's just a cosmetic, but it does almost all, if not all Rock-ons. I can see how a system deals with this when we get to that however. Should be OK as we update the db on all ne

[2022-05-18 02:14] Hooverdan96 commented on #309
sounds good, I'll wait for @FroggyFlox's input if he has time to think about it. Otherwise, I'll start with as many as I feel like it. And worst case, we'll split them up in groups or individually (not being a Git expert really, but I assume stuff like that can be done).

[2022-05-18 07:36] phillxnet commented on #309
@Hooverdan96

Steady, we don't want anything too git complicated. You could as you seem to be doing, do a commit for each Rock-on. That may help just with managing your own progress really. But you can also squash commits (together) later-on, but that would likely require a force push to your GitHub origin. Or deleting the GitHub origin and re-pushing, which can end up closing the pr I think. You

[2022-05-21 15:10] Hooverdan96 opened #311 "haproxy-letsencrypt image not available anymore"
The docker image

`illi/docker-haproxy-letsencrypt` is not on docker hub anymore.
The `https://github.com/daniel-illi/docker-haproxy-letsencrypt/tree/rock-on` repo is still there (last updated 6 years ago), but the owner is not hosting it on docker hub anymore. And the original repo it was forked from has also not been active in a number of years.

This Rockon should be deprecated and replaced wit

[2022-05-21 15:15] Hooverdan96 opened #312 "Mylar rockon image should be deprecated"
According to https://github.com/evilhero/mylar this Rockon should be replaced by mylar3 version, for which linuxserver has an active image as well (https://hub.docker.com/r/linuxserver/mylar3/). Could be fairly straight forward.

[2022-05-21 15:21] Hooverdan96 opened #313 "owncloud-official.json and owncloudHTTPS.json should be updated/deprecated"
the official https://hub.docker.com/_/owncloud image used in both those Rockons has a deprecation notice on the web page (not been updated since December 2018), referring users to the https://hub.docker.com/r/owncloud/server/ image.

Probably deprecate those two and create a new one using the new official image by owncloud itself

[2022-05-21 15:24] Hooverdan96 opened #314 "Rockon Postgres Versions stale?"
The underlying images for the two dedicated Postgres Rockons have not been updated/pushed in quite some time:
postgres-10.6.json last update over 3 years ago
postgres-9.5.json last updated over 2 years ago

Does this pose a security risk, etc.? Should we replace these with a much more recent version? Comes back to another conversation on surfacing the tags in the Rockon configuration, so we don't

[2022-05-21 15:26] Hooverdan96 opened #315 "seafile6 superseeded by seafile7+"
The seafile6.json already has a notice on there that it is running an obsolete version, and we already have the seafile7+ version in the library. Suggest that we now deprecate the seafile6 version.

[2022-05-21 15:28] Hooverdan96 opened #316 "subsonic Rockon container last update 5 yrs ago"
subsonic.json - the underlying container was last updated 5 years ago. This image could possibly replaced with the one found here https://hub.docker.com/r/hydria/subsonic/ that seems more active.

[2022-05-21 15:29] Hooverdan96 opened #317 "utorrent image stale"
The image used for uTorrent.json was last updated 3 years ago. There is possibly a newer (or official) version that could replace that image?

[2022-05-21 15:30] Hooverdan96 opened #318 "Xeoma image stale?"
The images user for xeoma.json was last updated 2 years ago. Is there one that could be used in its place that's more active?

[2022-05-21 15:33] Hooverdan96 opened #319 "zoneminder-latest image deprecated?"
The image underlying the zoneminder-latest.json https://hub.docker.com/r/dlandon/zoneminder has a deprecation notice on it. Is there a newer image that could be carried forward or keep this one in place (since the image is still there) for some more time while figuring out what to do.

[2022-05-21 19:14] phillxnet commented on #311
@Hooverdan96
Re:

Agreed.

[2022-05-21 19:30] phillxnet commented on #313
@Hooverdan96 @FroggyFlox I think we have some history of an attempt to do this by @ahlongas07  here:
https://github.com/rockstor/rockon-registry/pull/293

Linking for context in case it helps. See @ahlongas07's comment here:
https://github.com/rockstor/rockon-registry/pull/293#issuecomment-978146320

[2022-05-21 19:33] phillxnet commented on #314
@Hooverdan96 Good point. But if I remember correctly they were required at the time as they behave quite differently. If we could find newer images that would be good.

[2022-05-21 19:37] phillxnet commented on #318
@Hooverdan96 I've no idea on this one actually. We could ask on the forum if there are any suggestions. We could drop it if there are no takers as if no one is bothered then we might as well not carry it.

I quite keen on dropping unmaintained images as as are in the 80's for our Rock-ons count and they are meant to be curated 'picks' so your recent issues focusing on this is great. Thanks for hig

[2022-05-21 19:45] phillxnet commented on #319
We do need to either remove the Rock-on associated with deprecated images, or find a drop in (if possible) image I think. Otherwise it dies on us out of the blue. And it's more support area also.

If there is forum activity post a removal then we can erge folk to resurect the associated Rock-on with an appropriate replacement image. Otherwise we are leading folks down an known dead end, with likel

[2022-05-21 22:49] Hooverdan96 commented on #314
This would require to move from official to custom, which is probably ok.

[2022-05-21 22:53] Hooverdan96 opened #320 "Update Rockon readme to advise architecture"
In reference to #309 we should probably also add the suggested line with the architecture into the Rockon readme, so new ones will already come with the same tagline on which of the two architectures are supported.

This would also include an update to this section that we had updated via #284 (issue #262), removing the armv7 reference.

[2022-05-22 19:28] Hooverdan96 commented on #319
Maybe @magicalyak can chime in here, since he created that Rockon a while ago. @magicalyak are you still using that one, or have you moved on to a newer/updated version that we could build off of?

[2022-05-22 19:29] Hooverdan96 commented on #318
@mattwire, are you still using that Rockon? If so, any suggestions on how what a newer/more active version would be that could be useful for our Rockon?

[2022-05-22 19:31] Hooverdan96 commented on #316
@JasonTarka, are you still using the subsonic docker image? Or have you switched to a newer one that we could use for the Rockon?

[2022-05-22 19:55] mattwire commented on #318
@Hooverdan96 sorry have not used for a long time now

[2022-05-22 20:27] FroggyFlox commented on #316
@Hooverdan96 , @phillxnet ,

The Arch Wiki lists Subsonic as no longer maintained and the last changelog on Aubsonic's website dates from 2019!
"Subsonic" http://www.subsonic.org/pages/changelog.jsp

We might want to deprecate this Rock-ok too...

[2022-05-22 22:35] Hooverdan96 commented on #316
Probably a good idea.
From what I read, Subsonic went closed code end of 2016 and only had a couple of additional releases since then, there seemed to have open source continuations like libresonic and then airsonic (also not maintained anymore). From airsonic there was another fork airsonic-advance. That could be the alternative (https://github.com/airsonic-advanced/airsonic-advanced), it has rea

[2022-05-22 22:42] Hooverdan96 commented on #316
I just realized, the we had some conversation not too long ago here: #307
And discussed airsonic as an alternative (which would now apply to going to airsonic-advanced, I guess).

[2022-05-23 17:11] wwwizzarrdry commented on #319
Wish I had found this topic prior to installing the rockon a moment ago. In all my prep work, I never saw anything related to this docker image being deprecated... ugh.

Anyone know how to add a working, custom rockon image for zoneminder?  Some pointers would be greatly appreciated.

[2022-05-23 19:04] phillxnet commented on #319
@wwwizzarrdry Hello there.
Re:

Take a look at the Readme in this repo. You can always add in your own custom Rock-on json definition by just creating a local directory and dropping in the custom Rock-on definition. All instructions in the Readme. You might also want to create an issue on the forum as many there have developed many of the Rock-ons in this repo. Including this one I believe.

You j

[2022-05-24 02:35] Hooverdan96 commented on #319
@wwwizzarrdry just to add. The image is marked as deprecated in the docker hub (and the github repo as well). I think for now, if it is still working fine, it is safe to use (and maybe move it locally as @phillxnet described). There are a few other images out there, but it seems like the owner of this image made a remark about some component being phased out in newer versions (which I couldn't fig

[2022-05-24 02:49] wwwizzarrdry commented on #319
The docker image doesn't work. It says it finished the install, but when you click the link to open the web ui, it doesn't work.

Same deal with the RocketChat image. Seems like the Rock-Ons list isn't being maintained anymore.

[2022-05-24 09:21] phillxnet commented on #319
@wwwizzarrdry Thanks for the feedback on the failing zoneminder-latest Rock-on. What version of Rockstor are you having this issue with?

Also

Care to open an issue with your findings.

This is it's maintenance. @Hooverdan96 has now re-done all 80 of our existing Rock-on descriptions to standardise them and to add their architecture compatibilities via the following just reviewed pull request:
ht

[2022-05-24 12:30] #309 closed

[2022-05-29 14:58] #285 closed

[2022-05-29 15:01] #320 closed

[2022-05-29 15:05] phillxnet commented on #317
@Hooverdan96 & @FroggyFlox I propose then that we simply remove the utorrent Rock-on.

[2022-05-29 16:09] #312 closed

[2022-05-29 17:19] #278 closed

[2022-06-03 21:11] Hooverdan96 opened #326 "Rocket.chat Rockon non-functional"
Based on @wwwizzarrdry's comment I took a stab at getting the rocket.chat Rockon to run. Same negative outcome unfortunately. When reviewing the logs it seems that the current Rockon is missing some settings (related to Mongo DB) that are now required in the newer versions of rocket.chat.
When I reviewed the installation information on their website, it seems it now relies on some Mongo DB replica

[2022-06-06 16:10] #311 closed

[2022-06-06 20:07] phillxnet opened #328 "A tailscale Rock-on would be nice"
There is the following official Tailscale docker image:
https://hub.docker.com/r/tailscale/tailscale

But it's not looking like we need it to currently. Just noting here in case we get any takers or the work to adapt to this rock-on within the rockstor-core takes anyone's fancy. Or if anyone can fathom a way we can get this official docker image in as-is. It could go in with command line caveats/p

[2022-06-08 15:14] Hooverdan96 commented on #315
Since #325  was merged this issue can also be closed

[2022-06-08 15:14] #315 closed

[2022-06-09 17:21] Hooverdan96 opened #329 "Scrutiny Rockon not functional currently"
Based on Rockstor forum member ITStaff's post (https://forum.rockstor.com/t/disk-unusable-as-pool-member/8403/17), it appears that the Scrutiny Rockon is not working currently.
After checking my install I am experiencing issues as well, the container is running, however it is not functional. After a short investigation I found that this issue has been opened:
https://github.com/linuxserver/docker-

[2022-06-11 15:19] AnalogJ commented on #329
If anyone wants the new functionality provided by the v0.4.x releases (without waiting), they can migrate to the official Scrutiny docker image: ghcr.io/analogj/scrutiny:master-omnibus - where everything works out of the box.

Here's a quick migration guide: https://github.com/AnalogJ/scrutiny/blob/master/docs/TROUBLESHOOTING_INFLUXDB.md#upgrading-from-v03x-to-v04x

[2022-06-11 18:31] FroggyFlox commented on #329
@AnalogJ , thanks a lot for bringing your official image to our attention; this seems to be exactly what we are ideally looking for!

@Hooverdan96, @phillxnet , at first glance, I think @AnalogJ's official image is exactly what we should use:
- official image with very active development and support
- is both `amd64` and `arm64` compatible
- the `omnibus` image is an all-in-one image

I would thus

[2022-06-11 18:53] phillxnet commented on #329
@FroggyFlox Agreed on all accounts.
@AnalogJ Hello there, and thanks for the pointer/image/project/work here; as always: much appreciated.

[2022-06-11 19:16] AnalogJ commented on #329
No problem! Rockstor seems like an interesting project!

[2022-06-12 17:56] phillxnet commented on #329
@Hooverdan96 @FroggyFlox @AnalogJ
I've popped in a pr for the scrutiny image move to official. I've included some notes on stuff I was unsure of and I'd appreciated some feedback / pr review to check my efforts as this repo is normally more the domain of @FroggyFlox and @Hooverdan96. But I like to chip in occasionally ;). Pr contains all Rock-on related Web-UI rendering in picture form and all url

[2022-06-15 15:47] #329 closed

[2022-06-19 19:28] janholtzhausen opened #332 "TP-Link Omada-Controller Rock-On"
Modified the unify rock-on to run mbentley/omada-controller

[2022-06-19 19:36] phillxnet commented on #332
@janholtzhausen Hello there.

So could you give some more context / explanation here. I'm assuming you are about to present a pull request?

[2022-06-19 19:39] janholtzhausen commented on #332
Hi, thats right, still figuring out the correct procedure :)

[2022-06-19 19:54] janholtzhausen commented on #332
I hope it's not too much of a mess..

[2022-06-19 19:58] phillxnet commented on #332
@janholtzhausen
Re:

I wouldn't worry about that. ;)

We do have the following doc entry that may help with procedure:
https://rockstor.com/docs/contribute/contribute_rockons.html

[2022-06-19 20:01] janholtzhausen commented on #332
There, I think I checked all the boxes.
The next one will be a cleaner commit, I promise.

[2022-06-20 00:33] Hooverdan96 commented on #332
@janholtzhausen I can see the Rockon in your forked repo itself, however you would still need to initiate the Pull Request from that branch so it becomes visible over here.

As you do this, quick comment on the description, I think at this point we're stopping to support the armv7 version, as that's still 32-bit and focus on amd64 and arm64 only. So you can take that out before creating the Pull R

[2022-07-28 21:59] janholtzhausen commented on #332
Is there anything else I need to do?

[2022-07-29 00:21] Hooverdan96 commented on #332
@janholtzhausen, I don't think so, someone just needs to review it. i will see whether I can do it in the next few days.

[2022-08-17 02:45] janholtzhausen commented on #332
There's a couple more services I can contribute, but I'm not sure there's any interest?

[2022-08-18 02:29] Hooverdan96 commented on #332
@janholtzhausen I would imagine there will be some interest, if you want to list the areas you're thinking about. I have tried to test your Rockon, but apparently I am running into some issues. I've successfully installed it outside of Rockstor, but I seem to be having some issues with my testbed for Rockons that I haven't figured out yet (ran into issues when testing other rockon submissions). On

[2022-09-24 10:08] Termitebug commented on #307
@phillxnet @Hooverdan96 I agree to remove Subsonic container & image and replace it with airsonic equilevant.

I'm ready to test proposed images, Tasked mainly for the weekends.

The main functionately I'm after that Airsonic would work as mush as possible with Volumio and other MPD's.

I apologize such a great absent of this issue but to me moderate IRL events have happened and eaten my time comp

[2022-09-24 10:27] Termitebug commented on #307
@Hooverdan96

I think the reason @Termitebug is proposing the above as a drop-in replacement is that it uses the same share approach, separating them into:
/subsonic - Folder to store Subsonic's log, configuration and database.
/music - Default music folder.
/podcasts - Default podcast folder.
/playlists - Default playlists folder.

@Termitebug can you confirm?

Yes this is exactly what I'm after.

[2022-09-24 13:38] phillxnet commented on #326
@Hooverdan96 Or maybe we just drop this Rock-on. Especially given we have heard nothing more about it's dis-function in the past few months. So quicker to just drop and the additional requirements adds complexity which could increase it's instability/moving parts. I don't myself see chat servers as a likely high-on-the-list item for Rock-ons myself. And the lack of feedback on this breakage may be

[2022-09-24 13:58] phillxnet commented on #319
Just noting here that I have had a recent report via support email that our zoneminder Rock-on install failed. There were other associated failures but just wanted to add this report here just in case.
@Hooverdan96 and @FroggyFlox same comment here as I've just made in our failing RocketChat issue:
https://github.com/rockstor/rockon-registry/issues/326#issuecomment-1256971554
I.e. if a relatively

[2022-09-24 14:24] phillxnet opened #335 "Remove all non-functional or outdated Rock-ons"
We have a number of Rock-ons that are either/both unmaintained upstream or/and broken locally.

It is proposed that we simply delete any non functioning Rock-on from our public list and publish the changes. There after we do the same within say 1 month of no willing developer assistance stepping up. Our current Rock-on count is around 80: a non trivial list to maintain given only 1 minute on each

[2022-09-24 14:32] phillxnet commented on #335
Thanks to @Hooverdan96 for the initial authoring of all but one of the above referenced issues; and to @Termitebug for the remaining authorship in the above. We might as well clean house on all of these issues, in one go (via delete), to return us to a more manageable state for the Rock-ons repo as a whole: the essence of this issues proposal.

Firefighting in this case is frustrating all around h

[2022-09-24 14:36] phillxnet commented on #335
Linking to @Hooverdan96 work/comments in this area noted on the forum:
https://forum.rockstor.com/t/deprecating-stale-dead-rockons-feedback-from-rockstor-community-requested-updated/8400

[2022-09-24 16:00] phillxnet commented on #335
I am currently working on this issue to hopefully clear the way for some newer Rock-ons. Some of which replace the ones removed in this issue.

[2022-09-24 16:07] phillxnet commented on #316
@Hooverdan96 Yes, just doing some tidy now and @Termitebug is again active on the linked issue.
I'll close this as part of my ongoing clean up via #335 and as

Duplicate of more currently active #307

Thanks for the house keeping done here to date.

[2022-09-24 16:07] #316 closed

[2022-09-24 16:35] phillxnet commented on #335
We also have the following orphaned entry:

- home-assistant.json Rock-on definition file without associated root.json entry.

And a display Typo that may have re-scan ramifications:

"Watchtower offical" which should read: "Watchtower official"

[2022-09-24 18:07] phillxnet commented on #328
This issue is awaiting the final testing/review/and merge of #336 to help clear the way before adding yet more Rock-ons.

[2022-09-24 18:07] Termitebug commented on #307
Here Is a Linuxserver.io Rock-On .json for a review:

[https://github.com/linuxserver/docker-airsonic-advanced](url)

airsonic-advanced.json

{
    "Airsonic Advanced": {
        "containers": {
            "airsonic-advanced": {
                "image": "linuxserver/airsonic-advanced",
                "launch_order": 1,
                "ports": {
                    "4040": {

[2022-09-24 18:43] phillxnet commented on #307
@Termitebug Could you present this json as a pull request, along with the associated root.json entry. That would make it a lot easier to review and make suggestions as we can then submit exact suggested changes etc. Plus it can be tested via our back-ends if presented via a pull request.

Great to see you back involved with this one. I've submitted a generic clean-up pr myself today that does away

[2022-09-25 23:16] Hooverdan96 commented on #332
@janholtzhausen, sorry for the delay. I got to install it finally. I left some comments directly in the pull request, if you want to take a look at those.

[2022-09-26 13:32] magicalyak commented on #319
I may have built both of those and it's been quite a while.  Zoneminder was
always a bit tough to setup and i don't have Cameras that would be good to
test it with anymore (I can look for a stub).  Rocketchat should be
relatively easy to fix.  Remind me, is it better to submit a new rockon or
update the old one (it's been forever for me sorry!).

On Sat, Sep 24, 2022 at 9:58 AM Philip Guyton ***@*

[2022-09-26 13:37] magicalyak commented on #326
I'll try to look at both but should I resubmit new ones or try to fix the old ones?

[2022-09-26 18:36] phillxnet commented on #319
@magicalyak Hello again.

I think in this case given we now have the pending pr:

https://github.com/rockstor/rockon-registry/pull/336

which has removed zoneminder-latest and rocket.chat, so it's likely going to be better to just have a new pr to submit a new entry I think, especially once that pr has been finally tested/reviewed and merged. But we also have some recent activity that may be easie

[2022-09-26 18:43] phillxnet commented on #326
@magicalyak Hello again, yes I think new ones is the way to go now actually. We really need to clean house of all broken Rock-ons in this Repo as we have limited resources they end up hanging around for an unreasonable amount of time before fixes end up arriving. Hence the new proposed policy of delete rapidly upon broken states having been verified. This gives our developers more time to re-intro

[2022-09-27 12:17] #313 closed

[2022-09-27 12:17] #314 closed

[2022-09-27 12:17] #318 closed

[2022-09-27 12:56] phillxnet commented on #95
As per @FroggyFlox comment:

I'll close this in light of it being in the wrong repository anyway. And if there is further interest do please continue this discussion in our https://github.com/rockstor/rockstor-core repo under a new issue as that is where our Rock-ons management code is located. Here, in this repo, we only have Rock-on definitions. A link to this now closed issue in the new issue (

[2022-09-27 12:56] #95 closed

[2022-09-27 12:56] phillxnet commented on #335
Closing as fixed by pr #336

[2022-09-27 12:56] #335 closed

[2022-09-27 13:01] phillxnet commented on #307
@Termitebug Just edited this issues title to reflect the fact that we have now remove Subsonic.

[2022-09-27 18:50] phillxnet commented on #328
Given the requirement of the official docker image of Tailscale, the hightly preferred option given the security and network concernes here, is it thought that we would need custom custom config & start options such as are employed (in config and install) for our current open-vpn and owncloud rock-ons here:

https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/storageadmin/views/rock

[2022-10-11 07:43] magicalyak commented on #319
I can try to look later this week but if the Docker hub image is deprecated it’s likely the reason and we should make a new one.

Sent from my iPhone

[2022-11-22 21:07] stefanogreg opened #340 "Jellyfin ROCKON Install Wizard is empty"
I tried to install Jellyfin from ROCKONS but the installation wizard seems to be empty, no error appear
<img width="1222" alt="image" src="https://user-images.githubusercontent.com/6837406/203421161-a4fb044f-d367-4abb-80c6-87225d1335d2.png">

Here Logs from Browser console the error happen when clicking the Install button
jquery-1.9.1.min.js:5          GET https://192.168.1.31/api/rockons/devices/

[2022-11-22 21:18] stefanogreg commented on #340
The previous logs probably are not related to the issue reported, I was able to install other ROCKONS which require Storage selection

[2022-11-22 21:46] FroggyFlox commented on #340
Hi @stefanogreg ,

Thanks for reporting this. This sort of report usually is better suited for our forum as it gets a lot more exposure and thus has a better chance at finding a fix.
As a matter of fact, a forum user just reported what I believe is the same problem than you. Thanks a lot for including the logs, by the way as that is a very big clue.
See the following forum post and the its answers